<%= stylesheet_link_tag "items" %>
<div class="bootstrap" style="margin-top: 50px;">
	<center><h2 style="color:#419bf9;">Resend confirmation instructions</h2></center>
	<div style="width: 700px; display: table; margin: auto;">
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  <div><%= devise_error_messages! %></div>

		  <div style="width: 200px; display: table; margin: auto;"> 
		  	<%= f.email_field :email, autofocus: true,value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email", :class => "form-control" %>
		  </div>
		  </br>
		  <p class="actions shared_links">
		    <%= f.submit "Resend confirmation instructions", class: "btn btn-large btn-primary" %>
		  </p>
		<% end %>
        <p><%= render "users/shared/links" %></p>
 	</div>
</div>