<%= stylesheet_link_tag "chat" %>
<!--<% if @over_ten %>
  <%= link_to 'Show Previous Messages', '?m=all' %>
<% end %>-->
<script>
$(document).on('ready page:load', function() {
  var objDiv = document.getElementById("ui-segment");
  objDiv.scrollTop = objDiv.scrollHeight;
});
</script>


<div class="page-content">
  <div class="username"> Conversation with <%=User.where("id != ?", current_user).pluck(:name).first %></div>


  <div class="user-profile">
    <p id="user-name"><%=User.where("id != ?", current_user).pluck(:name).first %></p>
    <p><%= image_tag(current_user.avatar.url(:med), class:"avatar") %></p>
  </div>

  <div class="chat-area">
    <div class="chat-content">
      <div id="ui-segment">
        <% @messages.each do |message| %>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
            <% if user.id == current_user.id %>
              <div class="chat-bubble">
                    <div class="bubble-text">
                      <i class="right triangle icon"></i>
                       <%= message.body %>
                    </div>
              </div>
              <div class="chat-time">
                <strong><%= user.name %></strong>
                <%= message.message_time %>
              </div>
            <% else %>
              <div class="opp-chat-bubble">
                <div class="bubble-text">
                  <i class="right triangle icon"></i>
                    <%= message.body %>
                </div>
              </div>
              <div class="opp-chat-time">
                <strong><%= user.name %></strong>
                <%= message.message_time %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
      <%= form_for [@conversation, @message] do |f| %>
      <div class="reply-field"
        <div class="field">
          <%= f.text_area :body, :placeholder => "Type your message here. Refresh your browser to check for new messages.", class: "form-control" %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>
          <%= f.submit "Send", class: "reply_btn" %>
        </div>
      <% end %>
      </div>
      <% if @transaction %>
      <div class="request-box">
        <p>You requested to <%= @item.listing_type %></p>
        <p><%= @item.title %></p>
        <p>Transaction Status: <%= @transaction.status %></p>
        <p><%= @pictures.first %></p>
        <p id ="cancel"> Need to Cancel? 
          <span style="text-decoration: underline; color: #FF2641">
            <a href="/cancel">Click Here</a>
          </span>
        </p>
      <% else %>
        <p><%= @transaction.user.name %></p>
        <p><%= @item.title %></p>
        <p><%= @pictures.first %></p>
        <p><%= link_to 'accept', transactions_path(), method: 'get'%></p>
        <p> <%= link_to 'decline', transactions_path(), method: 'get'%>
        </p>
      </div>
        <p></p>
      <% end %>
  </div>
</div>
