<%= stylesheet_link_tag "chat" %>
<!--<% if @over_ten %>
  <%= link_to 'Show Previous Messages', '?m=all' %>
<% end %>-->
<script>
$(document).on('ready page:load', function() {
  var objDiv = document.getElementById("ui-segment");
  objDiv.scrollTop = objDiv.scrollHeight;
});
</script>


<div class="page-content">
  <% if @transaction.seller_id == current_user.id %>
  <div class="username"> Conversation with <%=User.find_by(id: @transaction.buyer_id).name %></div>
  <% elsif %>
  <div class="username"> Conversation with <%=User.find_by(id: @transaction.seller_id).name %></div>
  <% end %>

  <div class="user-profile">
    <% if @transaction.seller_id == current_user.id %>
    <p id="user-name"><%=User.find_by(id: @transaction.buyer_id).name %></p>
    <p><%= image_tag(User.find_by(id: @transaction.buyer_id).avatar.url(:med), class:"avatar") %></p>
    <% elsif %>
    <p id="user-name"><%=User.find_by(id: @transaction.seller_id).name %></p>
    <p><%= image_tag(User.find_by(id: @transaction.seller_id).avatar.url(:med), class:"avatar") %></p>
    <% end %>
  </div>

  <div class="chat-area">
    <div class="chat-content">
      <div id="ui-segment">
        <% @messages.each do |message| %>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
            <% if user.id == current_user.id %>
              <div class="chat-bubble">
                    <div class="bubble-text">
                      <i class="right triangle icon"></i>
                       <%= message.body %>
                    </div>
              </div>
              <div class="chat-time">
                <strong><%= user.name %></strong>
                <%= message.message_time %>
              </div>
            <% else %>
              <div class="opp-chat-bubble">
                <div class="bubble-text">
                  <i class="right triangle icon"></i>
                    <%= message.body %>
                </div>
              </div>
              <div class="opp-chat-time">
                <strong><%= user.name %></strong>
                <%= message.message_time %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
      <%= form_for [@conversation, @message] do |f| %>
        <div class="reply-field">
            <%= f.text_area :body, :placeholder => "Type your message here. Refresh your browser to check for new messages.", class: "form-control" %>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>
            <%= f.submit "Send", class: "reply_btn", data: {disable_with: "Sending..."} %>
        </div>
      <% end %>
  </div>

      <div class="request-box">
        <% if @transaction.seller_id == current_user.id %> <!--condition to see if current user is also the seller-->
          <% if @item.listing_type == "sell" %> <!--condition to set the opposite listing value-->
            <p id="heading"><%= User.find_by(id: @transaction.buyer_id).name %> requested to buy</p>
          <% elsif @item.listing_type == "timeoffer" %>
            <p id="heading"><%= User.find_by(id: @transaction.buyer_id).name %> requested service</p>
          <% else %>
            <p id="heading"><%= User.find_by(id: @transaction.buyer_id).name %> requested to <%= @item.listing_type %></p>
          <% end %>
        <% else %>
          <% if @item.listing_type == "sell" %>
            <p id="heading">You requested to buy</p>
          <% elsif @item.listing_type == "timeoffer" %>
            <p id="heading">You requested the following service</p>
          <% else %>
            <p id="heading">You requested to <%= @item.listing_type %></p>
          <% end %>
        <% end %> <!--condition to see if current user is also the seller-->
        <p id="item-title"><%= @item.title %></p>
        <p><%= image_tag @picture.image, class: "item-image" %></p>
        <p id="status">Transaction Status: <%= @transaction.status %></p>

        <% if @transaction.seller_id == current_user.id && @transaction.status == 'Pending' %>
          <li class="listings">
      			<div class="item-edit-delete-buttons">
      				<%= link_to 'Accept', accept_path(item: @item.id, transaction: @transaction.id),class: "edit-item" %>
      				<%= link_to 'Decline', @transaction, method: :delete, class: "delete-item", data: {confirm: "Are you sure you want to decline this request?"}  %>
      			</div>
      		</li>
        <% elsif @transaction.buyer_id == current_user.id %>
          <p id ="cancel"> Need to Cancel?
            <span style="text-decoration: underline; color: #FF2641">
              <%= link_to 'Click Here', contact_path %>
            </span>
          </p>
        <% end %>
      </div>
      <% if @item.listing_type == "lease" %>
        <div class="request-box" style="margin-bottom: -5px; height: 140px;">
          <p><b>If you would like to buy the item during your rental period click below.</b></p>
            <%#= link_to 'Request to Purchase', edit_transaction_path(item: @item.id, transaction: @transaction.id),class: "edit-item" %>
        </div>
      <% end %>

      <% if @transaction.seller_id == current_user.id %>
        <div class="helpful-tip">
          <p id="seller">Make sure you both agree on a time and place to meet before accepting this request.
              Your account will NOT be credited until you both meet and your In-App QR code is scanned.</p>
        </div>
      <% else %>
        <div class="helpful-tip">
          <p id="seller">Your Credit Card will be charged once your
                request has been accepted.
                Don’t worry, your money will NOT be sent to
                the other party until you both meet up and scan the in-app QR code.</p>
        </div>
      <% end %>
  </div>
</div>
