<%= stylesheet_link_tag "chat" %>

<script>
  $(document).on('ready page:load', function() {
    var objDiv = document.getElementById("ui-segment");
    objDiv.scrollTop = objDiv.scrollHeight;

    <% if @transaction && @transaction.status == "Accepted" %>
      setTimeout(function() {
       $('.companion-modal').html('<%= escape_javascript(render partial: 'common/companion_modal') %>')
       $('#shareCompanionModal').modal('show');
      }, 1000);
    <% end %>

    var adaebot= $( "span:contains('AdaeBot:')" ).parent().parent().addClass('botmsg');
    adaebot.css({'background':'#7ed321','color':'#fff','margin-left':'4em','margin-right':'4em'});
    var datetime = adaebot.next();
    datetime.css({'margin-left':'6em','margin-right':'6em'});

    if($('#message_body').val() ==  "")
       $('#reply_btn').attr('disabled', true);

    $('#message_body').keyup(function(){
        if($('#message_body').val() !=  "")
             $('#reply_btn').attr('disabled', false);
        else
             $('#reply_btn').attr('disabled', true);
    });
  });

  function clickAndDisable(link) {
     // disable subsequent clicks
    link.onclick = function(event) {
      event.preventDefault();
    }
  }
</script>

<div class="companion-modal"></div>

<div class="page-content">

  <!-- Chat area pre-transaction request -->
  <% if @conversation.sender_id == current_user.id %>
    <div class="username"> Conversation with <%=User.find_by(id: @conversation.recipient_id).name %></div>
  <% else %>
    <div class="username"> Conversation with <%=User.find_by(id: @conversation.sender_id).name %></div>
  <% end %>

  <div class="user-profile">
    <div class="user-wrap">
    <% if @conversation.sender_id == current_user.id %>
    <p id="user-name"><%=User.find_by(id: @conversation.recipient_id).name %></p>
    <p><%= image_tag(User.find_by(id: @conversation.recipient_id).avatar.url(:med), class:"avatar") %></p>
    <% else %>
      <p id="user-name"><%=User.find_by(id: @conversation.sender_id).name %></p>
      <p><%= image_tag(User.find_by(id: @conversation.sender_id).avatar.url(:med), class:"avatar") %></p>
    <% end %>
    <p> Email Address: <span style="font-weight: 600;">Verified</span> <span style="color: #39DC12;">&#10003;</span></p>
  </div>
  </div>

  <div class="chat-area">
    <div class="chat-content">
      <%= render partial: 'chat' %>
    </div>
      <%= form_for [@conversation, @message], :remote => true do |f| %>
        <div class="reply-field">
            <%= f.text_area :body, :placeholder => "Type your message here. Refresh your browser to check for new messages.", class: "form-control" %>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>

            <% if @transaction %>
              <%= f.hidden_field :item_id, :value => "#{@item.id}" %>
            <% end %>

            <%= f.submit "Send", id: "reply_btn", data: {disable_with: "Sending..."} %>
        </div>
      <% end %>
  </div>

  <div class="guidelines">
    <div class="guidelines-wrap">
      <p id="guide-title"> Useful Guidelines to Keep In Mind</p>
      <p class="tips"><b style="font-weight: 600;">Work Out All The Details.</b></br> Make sure to agree on how long the service will take, and how much work will be done before sending/accepting any requests.</p>
        <p class="tips"><b style="font-weight: 600;">Use the Adae Scanner App!</b></br> The app is the tool you use to securely send/receive payment via QR Code Scanning, and to verify your transaction actually happened.</p>
        <p class="tips"><b style="font-weight: 600;">The Scanner App is your receipt.</b> </br> Scan once before the service, and scan once after. Each scan is time-stamped and proof of your start time and end time. This can be referenced in case of disputes/loss of payment.</p>
        <p class="tips"><b style="font-weight: 600;">We Discourage Cash Payments.</b> </br> Adae will not be able to keep track of your transactions if you use cash. Because of this, we cannot be held accountable for any disputes and/or loss of payment.</p>
  </div>
  </div>

    <!-- This segment is for chat rooms with a transaction START-->
    <% if @transaction %>
      <div class="request-box">
        <div class="request-wrapper">
          <% if @transaction.seller_id == current_user.id %> <!--condition to see if current user is also the seller-->
            <% if @item.listing_type == "sell" %> <!--condition to set the opposite listing value-->
              <p id="heading"><%= User.find_by(id: @transaction.buyer_id).name %> requested to buy</p>
            <% elsif @item.listing_type == "timeoffer" %>
              <p id="heading"><%= User.find_by(id: @transaction.buyer_id).name %> requested service</p>
            <% else %>
              <p id="heading"><%= User.find_by(id: @transaction.buyer_id).name %> requested to <%= @item.listing_type %></p>
            <% end %>
          <% else %>
            <% if @item.listing_type == "sell" %>
              <p id="heading">You requested to buy</p>
            <% elsif @item.listing_type == "timeoffer" %>
              <p id="heading">You requested the following service</p>
            <% else %>
              <p id="heading">You requested to <%= @item.listing_type %></p>
            <% end %>
          <% end %> <!--condition to see if current user is also the seller-->
          <p id="item-title"><%= @item.title %></p>
          <p id="item-title"> Price of $<%= @transaction.total_price.to_i %></p>
          <% if @transaction.length %>
            <p id="item-title"> for <%= @transaction.length %> period</p>
          <% end %>
          <p><%= image_tag @picture.image, class: "item-image" %></p>
          <p id="status">Transaction Status: <%= @transaction.status %></p>

          <% if @transaction.seller_id == current_user.id && @transaction.status == 'Pending' %>
            <li class="listings">
        			<div class="item-edit-delete-buttons">
        				<%= link_to 'Accept', accept_path(item_id: @item.id, transaction: @transaction.id), class: "edit-item", :onclick => 'clickAndDisable(this)' %>
        				<%= link_to 'Decline', @transaction, method: :delete, class: "delete-item", data: {confirm: "Are you sure you want to decline this request?"}  %>
        			</div>
        		</li>
          <% elsif @transaction.buyer_id == current_user.id %>
            <p id ="cancel"> Need to Cancel?
              <span style="text-decoration: underline; color: #FF2641">
                <%= link_to 'Click Here', contact_path %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
      <% if @item.listing_type == "lease" && @item.status != "Sold" && current_user.id != @item.user_id && (["In Progress"].include?(@transaction.status)) %>
        <div class="request-box" style="margin-bottom: -5px; height: 140px;">
          <p style="font-weight: 500px; color: #4a4a4a; line-height: normal;">If you would like to buy the item during your rental period, click below.</p>
            <%= link_to 'Request to Purchase', purchase_lease_path(item_id: @item.id, transaction: @transaction.id, lease: "true"), class: "lease-buy-item",
            data: {confirm: "Are you sure you want to purchase this item?"} %>
        </div>
      <% end %>

      <% if @transaction.seller_id == current_user.id %>
        <div class="helpful-tip">
          <p id="seller">Make sure you both agree on a time and place to meet before accepting this request.
              Your account will NOT be credited until you both meet and your In-App QR code is scanned.</p>
        </div>
      <% else %>
        <div class="helpful-tip">
          <p id="seller">Your Credit or Debit Card will be charged once your
                request has been accepted.
                Don’t worry, your money will NOT be sent to
                the other party until you both meet up and scan the in-app QR code.</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- chat room with trasaction END -->
</div>

<script>
  var socket = io("159.203.22.61:40045");

  socket.on("sent", function(message){
    var current = <%= current_user.id %>;

    if (current != message["user"]){
      var element = $('#ui-segment');

      element.append("<div class='opp-chat-bubble polling'><div class='bubble-text'><span class='msg'>" + message["body"] + "</span></div></div>");
      element.append("<div class='opp-chat-time polling'>" + message["created_at"] + "</div>");

      element = document.getElementById("ui-segment");
      element.scrollTop = element.scrollHeight;
    }
  });
</script>
