<%= stylesheet_link_tag "chat" %>
<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="username"> Conversation with "Username"</div> <!-- "Username" is only a placeholder, need to grab actual user's name -->
<div class="chat-content">
  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
      <div class="chat-bubble">
        <div class="bubble-content">
            <div class="bubble-text">
              <i class="right triangle icon"></i>
               <%= message.body %>
            </div>      
        </div>
      </div>
      <div class="chat-time"><strong><%= user.name %></strong>     <%= message.message_time %></div>
      <% end %>
    <% end %>
  </div>
</div>
  <%= form_for [@conversation, @message] do |f| %>
  <div class="reply-field"
    <div class="field">
      <%= f.text_area :body, :placeholder => "Add a personal message here", class: "form-control" %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>
      <%= f.submit "Send", class: "reply_btn" %>
    </div>
  <% end %>
  </div>
