<%= stylesheet_link_tag "items" %>
<div class="bootstrap" style="margin-top: 50px;">
  <div class="col-md-4 col-md-push-4">
    <center><h1 style="color:#419bf9;">Log In</h1></center>
      <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", :class => "form-control" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "form-control"  %>
        <% if devise_mapping.rememberable? %>
          <div class="signin_remember_me" style="margin: 10px 0 10px 0;">
            Remember me: <%= f.check_box :remember_me %>
          </div>
        <% end %>
          <p class="actions shared_links">
            <input type="submit" name="submit" value="Log in" class="btn btn-large btn-primary" style="width: 150px;">
          </p>
            <span><%= render "users/shared/links" %></span>
      <% end %>
  </div>
</div>
