<%= form_for @user, :html => { :honeypot => true }  do |f| %>
  	<% if @user.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	<% end %>

	<div class = 'field'>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	
	<div class ='field'>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<div class="field">
		<%= f.label :address_line1 %>
		<%= f.text_field :address_line1 %>
	</div>
	
	<div class="field">
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>

	<div class="field">
		<%= f.label :postal_code %>
		<%= f.text_field :postal_code %>
	</div>

	<div class="field">
		<%= f.label :phone_number %>
		<%= f.telephone_field :phone_number, :size => 10, :maxlength => 10  %> 
	</div>

	<div class ='field'>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class ='field'>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class ='field'>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class ='field'>
		<%= f.submit %>
	</div>
<% end %>