<%= form_for @user, :html => { :honeypot => true }  do |f| %>

  	<% if @user.errors.any? %>
	    <div class="error_messages">
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li>
	        <script>
	          toastr.error('<%= message %>');
	        </script>
	          </li>
	        <% end %>
	      </ul>
	    </div>
	<% end %>

<div class="field-content">
  	<div class ='field'>
    	<p> Profile Picture </p>
    	<%= f.file_field :avatar %>
	</div>
	<div class = 'field'>
		<p> First Name </p>
		<%= f.text_field :name %>
	</div>
	<div class ='field'>
    	<p> Last Name </p>
  		<%= f.text_field :surname %>
	</div>
	<div class ='field'>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :phone_number %>
		<%= f.telephone_field :phone_number, :size => 10, :maxlength => 10  %>
	</div>
	<div class ='field'>
    	<p> About Me </p>
  		<%= f.text_area :description %>
	</div>
  <div style="border: 1px solid #BDBDBD; margin: 15px 0px 30px -13px; width: 175px; padding: 10px 15px; border-radius: 5px;">
    <span style="line-height: normal; color: #7E7E7E;">Enter your current password to verify your profile and update.</span>
  	<div class ='field'>
  		<%= f.label :password %>
  		<%= f.password_field :password %>
  	</div>
  	<div class ='field'>
  		<%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation %>
  	</div>
  	<div class ='field'>
      <%= f.submit 'Verify & Update', :class => 'update-button' %>
  	</div>
  </div>
</div>
<% end %>
