<%= stylesheet_link_tag "edit-profile" %>

	<!--<div class="item-reviews">
	<% if @items.any? %>
	<div class="review-title"> Reviews and Ratings for <%= @user.name.capitalize %>'s Listings:</div>
	</br>
		<% @items.each do |item| %>
			<% @reviews = item.reviews %>
			<% @ratings = item.ratings %>
			<div class="item-title"><%= link_to(item.title, item_path(item)) %></div>
			<% if @reviews.exists? && @ratings.exists? %>
				<% @reviews.zip(@ratings).each do |review, rating| %>
					<div class= 'review'>
						<div id="comment">
					      <%= link_to image_tag(review.user.avatar.url(:med), class:"avatar"), user_path(review.user) %>
					      <p id="review-comment"><%= review.comment %></p>
					    </div>

					    <div class="poster">
					      <% if review.user != nil %>
					         Posted by <span style="font-weight: 600;"><%= review.user.name %></span> on: <%= review.created_at.strftime('%d %b %Y') %>
					      <% else %>
					        Posted by <span style="font-weight: 600;"><%= review.name %></span>on: <%= review.created_at.strftime('%d %b %Y') %>
					      <% end %>
					    </div>
						<div class="rating-container">
							<div class="rating"><%= rating.score %>/5</div>
						</div>
					    <div class="divider"></div>
					    <br>
					</div>
				<% end %>
			<% end %>
				<% if @reviews.present? && !@ratings.exists? %>
					<%= render item.reviews.order("created_at DESC") %>
				<% elsif !@reviews.present? %>
					<blockquote id="no-review-yet">No Reviews yet.</blockquote>
				<% end %>
				<% if @ratings.present? && !@reviews.exists? %>
					<% item.ratings.order("created_at DESC").each do |rating| %>
						<div class="rating-container">
							<div class="rating"><%= rating.score %>/5</div>
						</div>
					<% end %>
				<% elsif !@ratings.present? %>
					<blockquote id="no-review-yet">No Ratings yet.</blockquote>
				<% end %>
			<% end %>
	<% else %>
		This user has no Listings.
	<% end %>
</div>-->
