<%= stylesheet_link_tag "edit-profile" %>


<!--<div style="margin-top: 15em;" class="item-reviews">
<% if @items.any? %>
Reviews and Ratings for <%= @user.name.capitalize %>'s Listings:
</br>
	<% @items.each do |item| %>
		<%= item.title %>
		<% if item.reviews.exists? %>
			 <%= render item.reviews.order("created_at DESC") %>
		<% else %>
			<blockquote id="no-review-yet">No Reviews yet.</blockquote>
		<% end %>
		<% if item.ratings.exists? %>
			<% item.ratings.order("created_at DESC").each do |rating| %>
				<%= rating.score %>
			<% end %>

		<% else %>
			 <blockquote id="no-review-yet">No Ratings yet.</blockquote>
		<% end %>
	<% end %>
<% else %>
	This user has no Listings.
<% end %>
</div>
