<h1>Hello! <%= @user.full_name %> Welcome to your profile!</h1>
<div class="account-links">
	<p class="p-account-links"><%= link_to "Update Account Information", edit_user_path(@user) %></p>
	<p class="p-account-links"><%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete this user?"}  %></p>
</div>

<p> Name: <%= @user.first_name %></p>
<p> Last Name: <%= @user.last_name %></p>
<p> Email: <%= @user.email %></p>
<p> Phone Number: <%= @user.phone_number %></p>

<h4 class= "account-heading"> Your reviews </h4>
<div class= "user-reviews">
	<% @user.reviews.each do |review| %>
	<li class="user-review">
		<p>For <%=link_to(review.item.title, item_path(review.item))  %> 
		your review is:
		<%=review.comment %>
		<p class="edit-review"><%= link_to 'Edit Review', edit_item_review_path(review.item, review) %></p>
		<p class ="delete-review"><%= link_to 'Delete Review', item_review_path(review.item, review), method: :delete, data: {confirm: "Are you sure?"}  %></p>
		</p>
	</li>
	<% end %>
</div>

<h4 class= "account-heading">Your Ratings</h4>

<div class = "user-ratings">
	<% @user.ratings.each do |rating| %>
	<li class="user-rating">
		For <%=link_to(rating.item.title, item_path(rating.item))  %> 
		your rating is:
		<%=rating.score%>
		<%= link_to 'Edit rating', edit_item_rating_path(rating.item, rating) %>
	</li>
	<% end %>
	<br>
</div>


<h4 class= "account-heading"> The Items you have added </h4>

<div>
	<% @items.each do |item| %>
		<p>Item: <%= link_to item.title, item_path(item) %> </p>
		<%= link_to 'Edit this Item', edit_item_path(item) %>	|
		<%= link_to 'Delete this Item', item, method: :delete, data: {confirm: "Are you sure you want to delete this Item?"}  %>
	<% end %>
</div>




