<%= stylesheet_link_tag "users" %>
<div class="user-content-container">
	<div class="profile-info">
		<h1><%= @user.full_name %></h1>
		<div class="account-links">
			<p class="p-account-edit"><%= link_to "Edit Profile", edit_user_path(@user) %></p>
			<p class="p-account-delete"><%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete this user?"}  %></p>
		</div>

		<!--<p> Name: <%= @user.name %></p>
		<p> Last Name: <%= @user.surname %></p>-->
		<p> Email: <%= @user.email %></p>
		<p> Phone: <%= @user.phone_number %></p>
		<p class="api-button"><%= link_to 'Request Public API Token'%></p>
	</div>

	<div class="request-container">
		<div class= "request-heading">Requests</div>
		<div class="request-img">
		</div>
		<li class="requests">
			<div class="item-title">  </div>
			<div class="accept-decline-button">
			<%= link_to 'View Request'%>
			</div>
		</li>
	</div>

	<div class="transaction-container">
		<div class= "transaction-heading">My Transactions </div>
		<div class="transaction-img">
		</div>
		<li class="transactions">
			<div class="item-title">  </div>
			<div class="delete-button">
			<%= link_to 'Cancel Transaction'%>
		</div>
		</li>
	</div>


	<div class="listing-container">
		<div class= "listing-heading">My Listings </div>
		<% @items.each do |item| %>
		<div class="listing-img">
			<%=link_to image_tag(item.photo.url(:med)), item_path(item)%>
		</div>
		<li class="listings">
			<div class="item-title"> <%= link_to item.title, item_path(item) %> </div>
			<div class="item-edit-delete-buttons">
			<%= link_to 'Edit', edit_item_path(item),class: "edit-item" %>
			<%= link_to 'Delete', item, method: :delete, class: "delete-item", data: {confirm: "Are you sure you want to delete this Item?"}  %>
		</div>
		</li>
		<% end %>
	</div>


	<div class="account-balance-section">
		<div id="account-balance">
			<p>Account Balance</p>
			<p id="balance"> $0 <!-- this is placeholder text--> </p>
		</div>
	</div>

	<h4> Cash Out Options </h4>
	<div class="mail-cheque-section">
			<p id="title">Mailed Cheque</p>
			<p id="description">Enter your address below, and we will mail a cheque with the amount on your balance to you! <span style="color: #419bf9">Min. $20 Required</span></p>
	</div>

	<div class="payment-settings">
		<% if signed_in? %>
		<span class="personal_purchases"><%#= link_to "Personal Purchase History", trx_orders_list_personal_purchases_path %></span>
		<h4><%= link_to "Payment Settings", users_stripe_settings_path %></h4>
		<span class="orders"><%#= link_to "Order Requests", items_orders_path %></span>
		<span class="accepted_orders"><%#= link_to "Accepted Orders", items_accepted_orders_path %></span>
		<% end %>
	</div>

</div>



<div class = "user-ratings">
	<h4 class= "account-heading">My Ratings</h4>
	<% @user.ratings.each do |rating| %>
	<li class="user-rating-content">
		<div class="rating-title"><%=link_to(rating.item.title, item_path(rating.item)) %></div>
		<div class="rating-info"> Rating:<p class="rating"><%=rating.score%></p>
		<%= link_to 'Edit', edit_item_rating_path(rating.item, rating) %>
	</div>
	<div class="divider"></div>
	</li>
	<% end %>
</div>

<div class= "user-reviews">
	<h4 class= "account-heading"> My Reviews </h4>
	<% @user.reviews.each do |review| %>
	<li class="user-review">
		<p class="review-title"> <%=link_to(review.item.title, item_path(review.item)) %></p>
		<p>
			<%=review.comment %>
		</p>
		<div class="poster">
			<% if review.user != nil %>
			Posted by <span style="font-weight: 600;"><%= review.user.name %></span> on <%= review.created_at %>
			<% else %>
			Posted by <span style="font-weight: 600;"><%= review.name %></span> on <%= review.created_at %>
			<% end %>
		</div>
		<div class="edit-delete-buttons">
			<%= link_to 'Edit', edit_item_review_path(review.item, review),class: "edit-review" %>
			<%= link_to 'Delete', item_review_path(review.item, review), class: "delete-review",method: :delete, data: {confirm: "Are you sure you want to delete this review? This action cannot be undone."}  %></p>
		</div>
		<div class="divider"></div>
	</li>
	<% end %>
</div>
