<%= stylesheet_link_tag "landing" %>
<%= stylesheet_link_tag "modals" %>
<div class="signup-modal"></div>
<div class="signin-modal"></div>

<title>adae - Share what you have, get what you want.</title>

<div id="landing">
  <div class="navlanding">
    <a class="faq" href="/faq">FAQ</a>
    <% unless signed_in? %>
      <%= link_to 'Sign Up', {remote: true, controller: "home", action: "signup_modal"}, id: "nav-signup-btn", class: "signup" %>
      <%= link_to 'Log In', {remote: true, controller: "home", action: "signin_modal"}, id: "nav-signin-btn", class: "login" %>
    <% end %>
  </div>
	<div id="landing-container">
		<div class="logo-name-container">
			<%= image_tag "logo-lg-white.png", id: "logo" %>
			<h1 id="welcome">adae</h1>
		</div>
		<div id="summary-container">
			<p class="summary">Share what you have, get what you want. <br> Peer-to-Peer platform that is safe and secure.</p>
		</div>
    <div class="coming-soon">
      <a target="_blank" href="https://itunes.apple.com/ca/app/adae/id1084039853?mt=8"><%= image_tag "App-Store.png", class: "coming-soon" %></a>
      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.adae.justinelee.adaecompanion&hl=en"><%= image_tag "Play-Store.png", class: "coming-soon" %></a>
    </div>

    <a href="<%= items_path %>"><button class="explore">Browse</button></a>

    <div id="search-field">
      <div class="search-bar">
        <form class="search-form" action="/search">
          <input type="text" name="search_text" class="search-field-placeholder" id="search-form" placeholder="What are you looking for? ex. Texbooks, Video Games, Tutors...">
          <button class="search-bar-label">Go</button>
        </form>
      </div>
	   </div>
  </div>
</div>

<div id="key-points-container">
		<div class="key-points-section">
			<%= image_tag("discover.png", size: "45x45", class: "discover-logo") %>
			<h4 class="key-points-header">Discover</h4>
			<p class="key-points-summary">
        		Find people who have what you need around you. Discover and try great things!
        	</p>
		</div>
		<div class="key-points-section">
			<%= image_tag("lease.png", size: "115x45", class: "key-points-logo") %>
			<h4 class="key-points-header">Save Money</h4>
			<p class="key-points-summary">
        		Adae is not only a great way to save money, but you may also meet cool people in your area!
        	</p>
		</div>
		<div class="key-points-section">
			<%= image_tag("safe.png", size: "115x45", class: "key-points-logo")%>
			<h4 class="key-points-header">Safe & Easy</h4>
			<p class="key-points-summary">
        		Forget about the hassle, we handle
        		the transactions in a secure and easy way. Never need to carry cash again.
        	</p>
		</div>
</div>

<button class="how-it-works" onclick="$('.how-it-works-toggle').slideToggle();">How It Works</button>

<div class="how-it-works-toggle">
  <div class="how-it-works-container">
    <h3 class="how-it-works-header">If you want something:</h3>
  		<div class="key-points-section">
  			<%= image_tag("tails.png", size: "55x55", class: "discover-logo") %>
  			<p class="how-it-works-summary">
          <strong>1.</strong> Browse Listings and find what you want.
  		</div>
  		<div class="key-points-section">
  			<%= image_tag("money_transfer.png", size: "55x55", class: "key-points-logo") %>
  			<p class="how-it-works-summary">
          <strong>2.</strong> Pay with a credit-card securely <a target="_blank" href="https://stripe.com/gallery">via Stripe</a>, no need to carry cash.
  				</p>
  		</div>
  		<div class="key-points-section">
  			<%= image_tag("contact.png", size: "55", class: "key-points-logo")%>
  			<p class="how-it-works-summary">
          		<strong>3.</strong> Contact the owner and send him/her a request.
          	</p>
  		</div>
  </div>

  <div class="how-it-works-container" >
  		<div class="key-points-section">
  			<%= image_tag("meetingscan_stock.png", size: "100x50", class: "discover-logo") %>
  			<p class="how-it-works-summary">
          <strong>4.</strong> Scan the unique in-app transaction QR code on
            the owner’s phone for exchange confirmation. This is when we send your money to the owner.
  				</p>
  		</div>
  		<div class="key-points-section">
  			<%= image_tag("checkout_price_tag_usd.png", size: "65x50", class: "key-points-logo") %>
  			<p class="how-it-works-summary">
          <strong>5.</strong> In case of disputes, we are always happy to help and try to solve the issue.
  				</p>
  		</div>
  </div>

    <div class="how-it-works-container">
      <h3 class="how-it-works-header">If you are offering something:</h3>
    		<div class="key-points-section">
    			<%= image_tag("list.png", size: "110x50", class: "discover-logo") %>
    			<p class="how-it-works-summary">
            <strong>1.</strong> Post a listing, set a price.
  					</p>
    		</div>
    		<div class="key-points-section">
    			<%= image_tag("service_bell.png", size: "65x50", class: "key-points-logo") %>
    			<p class="how-it-works-summary">
            <strong>2.</strong> Check your account regularly for requests.
              Choose whom to share your service/item with.
  					</p>
    		</div>
    		<div class="key-points-section">
    			<%= image_tag("meetingscan_stock.png", size: "100x50", class: "key-points-logo")%>
    			<p class="how-it-works-summary">
            		<strong>3.</strong> Have the in-app QR code on your phone scanned
                  by your customer to confirm the exchange. This is when we will send money to you.
            	</p>
    		</div>
    </div>

    <div class="how-it-works-container" >
    		<div class="key-points-section">
    			<%= image_tag("receive.png", size: "120x50", class: "discover-logo") %>
    			<p class="how-it-works-summary">
            <strong>4.</strong> In case of disputes, we are always happy to help and try to solve the issue.
  				</p>
    		</div>
    		<div class="key-points-section">
    			<%= image_tag("money_bag.png", size: "50x50", class: "key-points-logo") %>
    			<p class="how-it-works-summary">
            <strong>5.</strong> Cash out your money and enjoy the earnings.
  				</p>
    		</div>
    </div>
  </div>

<div class="explore-container">
		<h4 id ="title"> Pay and get paid via <a target="_blank" href="https://stripe.com/gallery"><span id ="secure">secure, cash-less QR Code scanning powered by Stripe</span></a>. We handle the exchange of money for you, so that you can have a peace of mind. </br></br> Here's how it works:</h4>
    <div class="app-info">
      <iframe style="transform: scale(0.8); position: relative; top: 7em;" width="438" height="930" src="//invis.io/MX6JDTH3U" frameborder="0" sandbox="allow-scripts allow-same-origin"></iframe>
      <div class="app-descriptions">
        <ul>
          <li id="app-title"><span id="arrow">&#8592;</span>Try out the preview!</li>
          <li><span class="star">&#9733;</span> When your transaction is accepted, you will be asked to download the Adae Scanner App on the App Store or Google Play. </li>
          <li><span class="star">&#9733;</span> Remember that when the transaction is accepted, the reserver's credit or debit card will be charged.
                This is our way to ensure that the reservers only send serious requests. As the owner, if you accept a request, you are obligated to meet with the reserver.</li>
          <li><span class="star">&#9733;</span> When you meet, open the Scanner App and select the appropriate transaction. The reserver will scan the owner's in-app QR code for confirmation. Once the QR code is scanned, we will send the money to the owner.</li>
          <li><span class="star">&#9733;</span> If the item needs to be returned or if a service is being offered, you will need to scan again at the end of the transaction.</li>
        </ul>
        <a href="<%= items_path %>"><button>Explore</button></a>
      </div>
    </div>
  <!--<div class="square-content">
  	<div class="square bg img1">

  	</div>

  	<div class="square bg img2">

  	</div>

  	<div class="square bg img3">

  	</div>

  	<div class="square bg img4">

  	</div>

  	<div class="square bg img5">

  	</div>

  	<div class="square bg img6">

  	</div>

  	<div class="square bg img7">

  	</div>

  	<div class="square bg img8">

  	</div>
	</div>-->
</div>
