<%= form_for @request, html: {multipart: true}  do |f| %>
	<% if @request.errors.any? %>
		<div id="error_explaination">
			<% @request.errors.full_messages.each do |msg| %>
			<script> toastr.error('<%= msg %>') </script>
			<% end %>
		</div>
	<% end %>

<div class="request-container">
	<div class="form-content">
	<div class="new-request-form">
		<p> First, add some tags to your Shout Out, so it shows up quicker when searched:</p>
          <div class="hashtag-input-box">
            <input type="text" name="hashtag_box_1" id="hashtag-box-1" class="hashtag-box" placeholder="type here, ex. xbox">
            <input type="text" name="hashtag_box_2" id="hashtag-box-2" class="hashtag-box">
            <input type="text" name="hashtag_box_3" id="hashtag-box-3" class="hashtag-box">
            <input type="text" name="hashtag_box_4" id="hashtag-box-4" class="hashtag-box">
          </div>
        	<input type="button" value="Add More" id="add-hashtag-button"/>
        <div id="tag-instruction">* Maximum of 6 tags, empty boxes will not be added.</div>
	</div>

	<div class="new-request-form">
		<p>My shoutout should expire by:</p>
		<%= f.date_field :timeframe, :placeholder => Time.now.strftime('%d-%m-%Y'), type: 'text', id: 'datepicker' %>
	</div>

	<div class="new-request-form">
		<p> Add a location:</p>
		<p class="form-title">Postal Code</p>
		<%= f.text_field :postal_code, :maxlength=> "6", :placeholder => "ex. M5V3A6, This way people nearby are more likely to discover your Shout Out" %>
	</div>

	<div class="new-request-form">
		<p> Title:</p>
		<%= f.text_field :title, :maxlength=> "100", :placeholder => "Give your Shout Out a concise and catchy headline!" %>
	</div>

	<div class="new-request-form">
		<p> Summary </p>
		<%= f.text_area :description, :maxlength=> "350", :placeholder => "Briefly describe what you are looking for. Mention when you would prefer to have the service." %>
		<div class="character-count"></div>
	</div>

	<%= f.submit 'Submit', :class => 'submit-shoutout' %>
	<div id="small-tip"> you can edit/update your Shout Out at anytime after you submit.</div>
<%end%>
	</div>
</div>
