<div class="request-index">
	<%= request.title %> 
	posted by <%= request.user.full_name%>
	| 
	<%= request.description %> 
	<%= request.tags  %>
	<%= request.timeframe.strftime("%m/%d/%y at %l:%M %p") %>
</div>