<%= stylesheet_link_tag "requests" %>
<%= include_gon %>
<div class="page-body">
<div class="request">
		<div class="request-index" id="request-<%= @request.id%>">
			<div class="request-wrap">
				<div class="request-expiry">
					This Shoutout expires by: <%= @request.timeframe.strftime("%m/%d/%y at %l:%M %p") %>
				</div>
				<div class="request-user">
					<%#= request.user.full_name%>
					<%= link_to image_tag(@request.user.avatar.url(:med), class:"avatar"), user_path(@request.user) %>
					<%= hidden_field_tag 'user_id', @request.user_id%>
				</div>
				<div id="request-title">
					<div id="main-title"><%= @request.title %></div>
					<div id="description"><%= @request.description %></div>
				<% unless @request.user == current_user %>
					<% if signed_in? %>

						<% if @items.present? %>
							<%= form_for @user, url: {action: "system_message"}, :method => :POST do |f| %>
								<%= select_tag "listing", options_from_collection_for_select(@items, "id", "title"), class: "send", prompt: "Select your service & reply", style: "height: 28px; width: 200px; border: none; cursor: pointer; vertical-align: top;" %>
					            <%= f.hidden_field :recipient, value: @request.user_id %>
					            <%= f.submit "Send", class: "post", style: "height: 28px; width: 55px; border: none; cursor: pointer; padding: 0; border-radius: 3px;", data: {disable_with: "Sending..."} %>
				      		<% end %>
						<% else %>
							<%= link_to 'Post this listing', new_item_path, class: 'post' %>
						<% end %>

					<% else %>
						<%= link_to 'Send Message', {remote: true, controller: "home", action: "signup_modal"}, class: "send", id: "buy-button" %>
						<%= link_to 'Post this listing', new_item_path, class: 'post' %>
					<% end %>
				<% end %>
				</div>
			</div>
		</div>
		<div id="shout-map"></div>
		<%= javascript_include_tag "map_shoutout" %>
	</div>
</div>
