<%= stylesheet_link_tag "contact-us" %>

<section class="contact-page-header">
  <div class="contact-page-header-text-container">
    <h1 class="contact-header">Contact Us</h1>
    <h4 class="contact-subtitle">Need to pay with cash? Got an issue? General Inquiries? Share below!</h4>
  </div>
</section>

<div class="content-container">

  <%= form_for @contact, :url => url_for(:controller => 'contacts', :action => 'new') do |f| %>
    <div class="issue-section">
      <h4> Reason for Contacting </h4>
      <%= f.select :subject, [["Pay with cash"],["Cancel Transaction"],["Refund"],["Resolving a Dispute"],["Suggestions"],["General Inquiries"]]%>
    </div>

    <div>
        <label for="name">Name:</label>
        <%= f.text_field :name, :required => true %>
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <%= f.text_field :email, :required => true %>
    </div>
    <div>
        <label for="msg">Message:</label>
        <%= f.text_area :content, :as => :text, :input_html => {:rows => 10}, placeholder: "If You Are Paying with Cash: Type what you'd like to order here, make sure to leave your address and phone number!", id:"msg" %>
    </div>
    <%= recaptcha_tags%>
    <div class="button">
        <button type="submit">Send</button>
    </div>
<% end %>
</div>
