<%= stylesheet_link_tag "items" %>
<div class="bootstrap">
  <%= provide(:title, "Shopping Cart") %>
	<% if @items.empty? %>
		<div><h1>There are no items in your cart</h1></div>
	<% else %>
		<div><h1>Items in your cart</h1></div>
		<ul class="catalogue">
			<% @items.each do |item| %>
			<li>
				<div class="prodImage">
					<% if !item[0].image.blank? %>
					<%= image_tag "/system/uploads/" + item[0].image  %>
						<%= link_to image_tag(@item.photo.url(:med)), @item.photo.url %>
	                <% else %>  
	                  <div class="displayImage">
	                    <i class="fa fa-question-circle photoUpload"></i>
	                    <p>Picture Unavailable</p>
	                  </div>
	                <% end %>
				</div>

				<div id="prodInfo">
					<h4 id="title"><%= link_to item[0].title, item[0] %></h4>
					<span><%= hidden_field_tag 'id', item[0].id%></span>
                	<div class="price">
                		Price: $ <span><%= number_with_precision(item[1].price, precision: 2) %></span>
                	</div>
           		</div>

       				<div>
          				<span>
          					<% if current_user %>
          						<button type="button" class="btn btn-danger remove" id="deleteitemFromSession"> <%= link_to "Delete", cart_path(item[1].id), method: :delete, data: { confirm: "You really want to delete "+item[1].name+" from your cart?"} %>
          					<% else %>
          						<button type="button" class="btn btn-danger remove" id="deleteitemFromSession"> <%= link_to "Delete", cart_path(item[0].id), method: :delete, data: { confirm: "You really want to delete "+item[0].title+" from your cart?"} %>
          					<% end %>
          					</button>
          				</span>
          			</div>  
			</li>
			<% end %>
		</ul>
		
		<div class="checkout">
			<button type="button" class="btn btn-success checkouts">
				<%= link_to "Proceed To Checkout", transactions_path %>
			</button>
		</div>
	<% end %>
</div>