<%= javascript_include_tag "items" %>
<script>
<% if flash[:error] %>
  toastr.options.timeOut = 3000;
  toastr.error("There was an error in the validation, please review your submission.");
<% end %>

</script>


<%= form_for @item, html: {multipart: true}  do |f| %>

<div class="item-container">
	<div class="form-content">
		<div class="new-item-form">
			<% if current_page? timeoffer_path %>
				<p> First, add some tags to describe your service, so it shows up quicker when searched:</p>
			<% else %>
				<p> First, add some tags to your listing, so it shows up quicker when searched:</p>
			<% end %>
	          <div class="tag-input-box">
	            <input type="text" name="tag_box_1" id="tag-box-1" class="tag-box" placeholder="type here, ex. xbox">
	            <input type="text" name="tag_box_2" id="tag-box-2" class="tag-box">
	            <input type="text" name="tag_box_3" id="tag-box-3" class="tag-box">
	            <input type="text" name="tag_box_4" id="tag-box-4" class="tag-box">
	          </div>
	        	<!-- <input type="button" value="Add More" id="add-tag-button"/> -->
	        <div id="tag-instruction">* Maximum of 4 tags, empty boxes will not be added.</div>
		</div>

    <% if current_page? timeoffer_path %>
		<%= f.fields_for :prices, @price do |hour| %>
		<%= f.fields_for :prices, Price.new do |flat| %>
    		<div class="new-item-form">
  				<p class="deposit-tip">
  				  <b> Your Price:</b></br>
  				  Set the price you want to charge either by Hour and/or as a Flat Rate.</br>
  				  Leave the box blank if the timeframe is not applicable.
  				</p>
  				<table>
  				  <tr>
  				  	<th>Timeframe:</th>
  			      	<td><%= hour.text_field :timeframe, :value => "Hour", :readonly => "True", class: "timeframe" %></td>
  			      	<td><%= flat.text_field :timeframe, :value => "Flat Rate", :readonly => "True", class: "timeframe" %></td>
  				  </tr>
			      <tr>
			      	<th>Price:</th>
			      	<td><input class="money", readonly="true", value="$"></input><%=hour.number_field :amount, max: 100%></td>
			      	<td><input class="money", readonly="true", value="$"></input><%=flat.number_field :amount, max: 1000%></td>
			      </tr>
  				</table>
      			<br/>
    		</div>
			<%= f.hidden_field :deposit, :value => 0 %>
	        <div class="deposit-tip" style="color: #419bf9; margin-top: 10px; font-weight: 500;">
	        	&#x2756; Adae will add a 4% - 10% service fee on top of your listed price. <br> This fee helps us run the platform, and to provide the best service to our users. </br> Don't worry, you will still get paid the amount you are owed.
	        </div>
		<% end %>
		<% end %>
	<% elsif current_page? sell_path %>
		<%= f.fields_for :prices, @price do |p| %>
			<div class="new-item-form">
		    	<p> Sale Price:</p>
					<div id="actual-price-money-sign"> $ </div>
		        <%=p.number_field :amount %>
		    </div>
	        <div class="deposit-tip" style="color: #419bf9; margin-top: 10px; font-weight: 500;">
	        	&#x2756; Adae will add a 4% - 10% service fee on top of your listed price. <br> This fee helps us run the platform, and to provide the best service to our users. </br> Don't worry, you will still get paid the amount you are owed.
	        </div>
			<%= f.hidden_field :deposit, :value => 0 %>
		<% end %>
	<% else %>
		<%= f.fields_for :prices, @price do |day| %>
        <%= f.fields_for :prices, Price.new do |week| %>
        <%= f.fields_for :prices, Price.new do |month| %>
    		<div class="new-item-form">
  				<p class="deposit-tip">
  				  <b>Rental Price:</b></br>
  				  Set the price you want to charge for any or all of the timeframes below.</br>
  				  Leave the box blank if the timeframe is not applicable.
  				</p>
  				<table>
  				  <tr>
  				  	<th>Timeframe:</th>
  			      	<td><%= day.text_field :timeframe, :value => "Day", :readonly => "True", class: "timeframe" %></td>
  			      	<td><%= week.text_field :timeframe, :value => "Week", :readonly => "True", class: "timeframe" %></td>
  			      	<td><%= month.text_field :timeframe, :value => "Month", :readonly => "True", class: "timeframe" %></td>
  				  </tr>
			      <tr>
			      	<th>Price:</th>
			      	<td><input class="money", readonly="true", value="$"></input><%=day.number_field :amount, max: 100%></td>
			      	<td><input class="money", readonly="true", value="$"></input><%=week.number_field :amount, max: 1000%></td>
			        <td><input class="money", readonly="true", value="$"></input><%=month.number_field :amount, max: 10000%></td>
			      </tr>
  				</table>
      			<br/>
    		</div>

      		<div class="new-item-form">
  	        	<% if current_page? lease_path %>
        			<p id="deposit-title"> Deposit Price & Sale Price:</p>
        			<div class="rent-deposit-money-sign"> $ </div>
      				<%= f.text_field :deposit %>
	                <span>
	                  <span style="bottom: 1px;"class="wrapper">
	                    <%= image_tag "question-mark.png", size:"16x17"%>
	                    <div class="tooltip">This ensures that the item is treated with care, and is returned on time. This amount will be charged only in case of loss, damage or if the other party fails to return the item.</div>
	                  </span>
	                </span>
	  	          	<div class="deposit-tip">
	  		          	During the rental period, your customer may request to buy this item.</br>
	  		          	If so, the Deposit Price becomes the Sale Price & the rental fee is deducted from the Sale Price.
	  	            </div>
	                <div class="deposit-tip" style="color: #419bf9;">
	                  &#x2756; Adae will add a 4% - 10% service fee on top of your listed price. <br> This fee helps us run the platform, and to provide the best service to our users. </br> Don't worry, you will still get paid the amount you are owed.
	  	          	</div>
      	    	<% else %>
  	          		<p id="deposit-title"> Deposit Price</p>
  	          		<div class="rent-deposit-money-sign"> $ </div>
  	          		<%= f.text_field :deposit %>
	                <span>
	                  <span style="bottom: 1px;"class="wrapper">
	                    <%= image_tag "question-mark.png", size:"16x17"%>
	                    <div class="tooltip">This ensures that the item is treated with care, and is returned on time. This amount will be charged only in case of loss, damage or if the other party fails to return the item.</div>
	                  </span>
	                </span>
	                <div class="deposit-tip" style="color: #419bf9;">
	                  &#x2756; Adae will add a 4% - 10% service fee on top of your listed price. <br> This fee helps us run the platform, and to provide the best service to our users. </br> Don't worry, you will still get paid the amount you are owed.
	  	          	</div>
      	    	<% end %>
    	    </div>

        <% end %>
        <% end %>
		<% end %>
	<% end %>


		<div class="new-item-form">
			<p> Add a Location:</p>
			<p class="form-title">Postal Code</p>
			<%= f.text_field :postal_code, :maxlength=> "6", :placeholder => "ex. M5V3A6, This way people nearby are more likely to discover your listing" %>
		</div>

		<% if current_page? rent_path %>
			<%= f.hidden_field :listing_type, :value =>"rent" %>
		<% elsif current_page? sell_path %>
			<%= f.hidden_field :listing_type, :value =>"sell" %>
		<% elsif current_page? lease_path %>
			<%= f.hidden_field :listing_type, :value =>"lease" %>
		<% else %>
			<%= f.hidden_field :listing_type, :value =>"timeoffer" %>
		<% end %>

		<div class="new-item-form">
			<p> Description:</p>
			<p class="form-title">Listing Title</p>
			<%= f.text_field :title, :maxlength=> "90", :placeholder => "Give your listing a concise and catchy headline!"  %>
		</div>

		<div class="new-item-form">
			<%= f.label :summary %>
			<%= f.text_area :description, :maxlength=> "500", :placeholder => "Summarize the highlights of your listing, include as much detail as possible!" %>
      		<label class="countdown">500 characters remaining</label>
		</div>

		<div class="new-item-form">
			<div class="upload-photo">
				<%= image_tag "phone.png", id:"photo-image" %>
      			<%= file_field_tag "images[]", type: :file, multiple: true %>
				<p id="pic-title">  + Add Photos </p>
				<p id="descriptor"> You can upload more than one file at a time </p>
			</div>
		</div>

		<%= f.submit 'Submit', :class => 'submit-listing', data: {disable_with: "Submitting..."} %>
		<div id="small-tip"> you can edit/update your listing after you submit.</div>
	</div>
</div>
<%end%>
