<%= form_for @item, html: {multipart: true}  do |f| %>
	<% if @item.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@item.errors.count, "error") %> please correct the following before submitting</h2>
			<ul>
				<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="item-container">
		<div class="new-item-form">
			<p> Add some tags to better describe your item, so people can find it easier:</p>
              <div class="tag-input-box">
                <input type="text" name="tag_box_1" id="tag-box-1" class="tag-box" placeholder="type here, ex. xbox">
                <input type="text" name="tag_box_2" id="tag-box-2" class="tag-box">
                <input type="text" name="tag_box_3" id="tag-box-3" class="tag-box">
                <input type="text" name="tag_box_4" id="tag-box-4" class="tag-box">
              </div>
            	<input type="button" value="Add another tag" id="add-tag-button"/>
            <p>* Maximum of 6 tags, empty boxes will not be added.</p>
		</div>
		
		<div class="new-item-form">
			<p> Add a location:</p>
			<%= f.label :postal_code %>
			<%= f.text_field :postal_code %>
		</div>
		
		<% if current_page? rent_path %>
			<%= f.hidden_field :listing_type, :value =>"rent" %>
		<% elsif current_page? sell_path %>
			<%= f.hidden_field :listing_type, :value =>"lease" %>
		<% elsif current_page? lease_path %>
			<%= f.hidden_field :listing_type, :value =>"sell" %>
		<% else %>
			<%= f.hidden_field :listing_type, :value =>"timeoffer" %>
		<% end %>

		<div class="new-item-form">
			<p> Description:</p>
			<%= f.label :listing_title %>
			<%= f.text_field :title %>
		</div>
		
		<div class="new-item-form">
			<%= f.label :summary %>
			<%= f.text_area :description %>
		</div>
		
		<div class="new-item-form">
			<%= f.label :image  %>
			<%= f.file_field :image  %>
		</div>
		
		<div class="new-item-form">
			<p> Deposit price:</p>
			<%= f.label :deposit %>
			<%= f.text_field :deposit %>
		</div>

		<%= f.fields_for :prices, @price do |p| %>
        <div class="new-item-form">
            <%=p.label :timeframe %>
            <%= p.select(:timeframe, [["Hour"],["Day"],["Week"]], :prompt => 'Select') %>
        </div>

        <div class="new-item-form">
        	<p> Sale Price:</p>
            <%=p.label :amount %>
            <%=p.number_field :amount %>
        </div>
   		<% end %>

	<%= f.submit %>
<%end%>
</div>