<%= form_for @item, html: {multipart: true}  do |f| %>
	<% if @item.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@item.errors.count, "error") %> please correct the following before submitting</h2>
			<ul>
				<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>

<div class="item-container">
	<div class="form-content">
		<div class="new-item-form">
			<p> First, add some tags to your listing, so it shows up quicker when searched:</p>
	          <div class="tag-input-box">
	            <input type="text" name="tag_box_1" id="tag-box-1" class="tag-box" placeholder="type here, ex. xbox">
	            <input type="text" name="tag_box_2" id="tag-box-2" class="tag-box">
	            <input type="text" name="tag_box_3" id="tag-box-3" class="tag-box">
	            <input type="text" name="tag_box_4" id="tag-box-4" class="tag-box">
	          </div>
	        	<input type="button" value="Add More" id="add-tag-button"/>
	        <div id="tag-instruction">* Maximum of 6 tags, empty boxes will not be added.</div>
		</div>

		<div class="new-item-form">
			<p> Add a Location:</p>
			<p class="form-title">Postal Code</p>
			<%= f.text_field :postal_code, :maxlength=> "6", :placeholder => "ex. M5V3A6, This way people nearby are more likely to discover your listing" %>
		</div>

		<% if current_page? rent_path %>
			<%= f.hidden_field :listing_type, :value =>"rent" %>
		<% elsif current_page? sell_path %>
			<%= f.hidden_field :listing_type, :value =>"sell" %>
		<% elsif current_page? lease_path %>
			<%= f.hidden_field :listing_type, :value =>"lease" %>
		<% else %>
			<%= f.hidden_field :listing_type, :value =>"timeoffer" %>
		<% end %>

		<div class="new-item-form">
			<p> Description:</p>
			<p class="form-title">Listing Title</p>
			<%= f.text_field :title, :maxlength=> "100", :placeholder => "Give your listing a concise and catchy headline!"  %>
		</div>

		<div class="new-item-form">
			<%= f.label :summary %>
			<%= f.text_area :description, :maxlength=> "350", :placeholder => "Tell people about the qualities and highlights of your listing. You can include as many details as you'd like." %>
			<div class="countdown"></div>
		</div>

		<div class="new-item-form">
			<%= f.label :image  %>
			<%= f.file_field :image  %>
		</div>

		<%= f.fields_for :prices, @price do |p| %>
		    <div class="new-item-form">
		        <%=	p.label :timeframe %>
		        <%= p.select(:timeframe, [["Hour"],["Day"],["Week"]], :prompt => 'Select') %>
		    </div>

		    <div class="new-item-form">
		    	<p> Sale Price:</p>
					<div id="actual-price-money-sign"> $ </div>
		        <%=p.number_field :amount %>
		    </div>
		<% end %>

		<div class="new-item-form">
			<p id="deposit-title"> Deposit price:</p>
			<div class="rent-deposit-money-sign"> $ </div>
			<%= f.text_field :deposit %>
		</div>

		<%= f.submit 'Submit', :class => 'submit-listing' %>
		<div id="small-tip"> you can edit/update your listing at anytime after you submit.</div>


<%end%>
	</div>
</div>
