<%= stylesheet_link_tag "items" %>

<%= form_for @item, html: {multipart: true}  do |f| %>
	<% if @item.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@item.errors.count, "error") %> prohibited this form from being submitted</h2>
			<ul>
				<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="main-form">
		<div class="new-item-form">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		
		<div class="new-item-form">
			<%= f.label :description %>
			<%= f.text_field :description %>
		</div>
		
		<div class="new-item-form">
			<%= f.label :deposit %>
			<%= f.text_field :deposit %>
		</div>
		
		<div class="new-item-form">
			<%= f.label :tags %>
			<%= f.text_field :tags %>
		</div>

		<div class="new-item-form">
			<%= f.label :image  %>
			<%= f.file_field :image  %>
		</div>

		<%= f.fields_for :prices, @price do |p| %>
        <div class="new-item-form">
            <%=p.label :timeframe %>
            <%= p.select(:timeframe, [["Hour"],["Day"],["Week"]], :prompt => 'Select') %>
        </div>

        <div class="new-item-form">
            <%=p.label :amount %>
            <%=p.number_field :amount %>
        </div>
   		<% end %>

	<%= f.submit %>
<%end%>
</div>