<script type="text/javascript">
	$(document).ready(function() {

	  $("#item-<%= item.id%>").css("background-image", "url(" + "<%= item.photo_url %>" + ")");
	  $("#item-<%= item.id%>").css("background-repeat", "no-repeat");
	  $("#item-<%= item.id%>").css("background-position", "center center");
	  $("#item-<%= item.id%>").css("background-size", "100%");

	});
</script>


<%= link_to item_path(item.id) do %>
	<div class="item-index" id= "item-<%= item.id%>">
		<div class="item-wrap">
			<p id="item-title"><%= item.title %></p>
			<!--<div class="tag-container">
			<p id="tags">	<%= item.tags  %></p>
		</div>-->
		</div>
	</div>
<% end %>
