<% items.each do |item| %>
	<%= link_to item_path(item.id) do %>
		<div class="item-index" id= "item-<%= item.id%>">
			<%= item.title %>
			|
			<%= item.description %>
			<%= item.tags  %>
		</div>
	<% end %>
<% end %>
