<%= include_gon %>
<%= stylesheet_link_tag "items" %>
<script>
	$(document).ready(function() {
		$(function () {
		    $("#bounce").effect("bounce", { times:3, distance:10 }, 400);
		});
        <% if signed_in? && @user.confirmed? && @user.sign_in_count == 1 %>
        document.getElementById('startButton').onclick = function() {
          introJs().setOption('doneLabel', 'Go Now').start().oncomplete(function() {
            	window.location.href = '<%= edit_user_path(@user) %>';
          });
        };
        <% end %>
    });
</script>
<style>
	.introjs-tooltiptext {
		line-height: normal;
	}
	#bounce {
		margin-left: 300px;
		height: 0px;
	}
</style>
<body>
	<div id="items">
		<div class="switch">
		<% if signed_in? && @user.confirmed? && @user.sign_in_count == 1  %>
	    		<div id="bounce">
	    			<span id="startButton" href="javascript:void(0);">Start Tour</span>
	    		</div>
	    		<a class="share-item" href="/listings" data-step="1" data-intro="This is what others have to offer. Popular services include: tutoring, photography, music & dance lessons, professional mentorship, and moving." data-position="right">All Listings</a>
	    		<a class="share-request" href="/shoutouts" data-step="2" data-intro="This is where people post requests. Can someone help you out? Post here." data-position="right">All Shout Outs</a>
	    <% else %>
	    	<%= link_to "All Listings", items_path, class: "share-item" %>
	    	<%= link_to "All Shout Outs", requests_path, class: "share-request" %>
		<% end %>
		</div>
		<div id="item-feed-container">
	    	<div id="item-collection">
				<% @items.each do |item| %>
					<%= render partial: "/items/items", :locals => {:item => item}  %>
				<% end %>
	    	</div>
			<div id="pagination-div">
				<%= will_paginate @items, :next_label => "&#10095;", :previous_label => "&#10094;" %>
			</div>
		</div>
		<div id="map-canvas"></div>
	</div>
</body>
<%= javascript_include_tag "map" %>
