<%= include_gon %>
<%= stylesheet_link_tag "items" %>
<script>
	$(document).ready(function() {
        <% if signed_in? && @user.confirmed? && @user.sign_in_count == 1 %>
        document.getElementById('startButton').onclick = function() {
          introJs().setOption('doneLabel', 'Go Now').start().oncomplete(function() {
            	window.location.href = '<%= edit_user_path(@user) %>';
          });
        };
        <% end %>
    });
</script>
<style>

	.introjs-tooltiptext {
		line-height: normal;
	}
	#bounce {
		margin-left: 300px;
		height: 0px;
		animation: bounce;
		-webkit-animation: bounce;
		-moz-animation: bounce;
		-o-animation: bounce;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: 5;
		-moz-animation-duration: 2s;
		-moz-animation-iteration-count: 5;
		-o-animation-duration: 2s;
		-o-animation-iteration-count: 5;
	}
	@-webkit-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	 40% {-webkit-transform: translateY(-10px);}
	 60% {-webkit-transform: translateY(-10px);}
	}

	@-moz-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	 40% {-moz-transform: translateY(-10px);}
	 60% {-moz-transform: translateY(-10px);}
	}

	@-o-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	 40% {-o-transform: translateY(-10px);}
	 60% {-o-transform: translateY(-10px);}
	}
	@keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	 40% {transform: translateY(-10px);}
	 60% {transform: translateY(-10px);}
	}
</style>
<body>
	<div id="items">
		<div class="switch">
		<% if signed_in? && @user.confirmed? && @user.sign_in_count == 1  %>
	    		<div id="bounce">
	    			<span id="startButton" href="javascript:void(0);">Start Tour</span>
	    		</div>
	    		<a class="share-item" href="/listings" data-step="1" data-intro="What others have to offer. Popular services include: <br> - tutoring <br> - photography <br> - music & dance lessons <br> - professional mentorship <br> - moving" data-position="right">All Listings</a>
	    		<a class="share-request" href="/shoutouts" data-step="2" data-intro="This is where people post requests.</br> Can you help someone out?" data-position="right">All Shout Outs</a>
	    <% else %>
	    	<%= link_to "All Services", items_path, class: "share-item" %>
	    	<%= link_to "All Shout Outs", requests_path, class: "share-request" %>
		<% end %>
		</div>
		<div id="item-feed-container">
	    	<div id="item-collection">
				<% @items.each do |item| %>
					<%= render partial: "/items/items", :locals => {:item => item}  %>
				<% end %>
	    	</div>
			<div id="pagination-div">
				<%= will_paginate @items, :next_label => "&#10095;", :previous_label => "&#10094;" %>
			</div>
		</div>
		<div id="map-canvas" class="feed-map"></div>
	</div>
</body>
<%= javascript_include_tag "map" %>
