<%= stylesheet_link_tag "landing" %>

<%= javascript_include_tag "landing" %>

<!-- Welcome section -->
<title>adae - Share what you have, get what you want.</title>
<%if user_signed_in?%>
	<%= link_to "Logout", destroy_user_session_path, :method => :delete%>

<%else%>
	<%= link_to "Sign Up", new_user_registration_path%>
	<%= link_to "Login", new_user_session_path%>
<%end%>
<div id="landing">
	<div id="landing-container">
		<div class="logo-name-container">
			<%= image_tag "logo-lg-white.png", id: "logo" %>
			<h1 id="welcome">adae</h1>
		</div>

		<div id="summary-container">
			<p class="summary">Share what you have, get what you want. <br> Peer-to-Peer marketplace that is safe and secure.</p>
		</div>
    <div class="coming-soon">
      <%= image_tag "App Store_Play Store_COMING SOON.png", id: "coming-soon" %></a>
    </div>
    <div id="search-field">
      <div class="search-bar">
    		<%= form_tag items_path, method: :get, authentication: false, id: 'search-form' do %>
    			<%= text_field_tag :search, params[:search],{placeholder: 'Enter your e-mail here for the Beta Invite & get $5 credit when you sign up!', class: 'search-field-placeholder'}  %>
    			<button class="search-bar-label">Submit</button>
    		<% end %>
    	</div>
	   </div>
  </div>
</div>

<div id="key-points-container">
		<div class="key-points-section">
			<%= image_tag("discover.png", size: "45x45", class: "discover-logo") %>
			<h4 class="key-points-header">Discover</h4>
			<p class="key-points-summary">
        		Find people who have what you need around you.
        		<strong> Rent, Buy, Sell</strong>
        	</p>
		</div>
		<div class="key-points-section">
			<%= image_tag("lease.png", size: "115x45", class: "key-points-logo") %>
			<h4 class="key-points-header">Lease</h4>
			<p class="key-points-summary">
        		Try before you buy, if you like it, your rental
        		fee will become your purchase credits.
        	</p>
		</div>
		<div class="key-points-section">
			<%= image_tag("safe.png", size: "115x45", class: "key-points-logo")%>
			<h4 class="key-points-header">Safe & Easy</h4>
			<p class="key-points-summary">
        		Forget about the hassle and damage, we handle
        		the deposit & transactions in a secure and easy way.
        	</p>
		</div>
</div>

    <button class="how-it-works">How It Works</button>
    <button class="how-it-works-on">How It Works</button>

<div class="how-it-works-toggle">
  <div class="how-it-works-container">
    <h3 class="how-it-works-header">If you want something:</h3>
  		<div class="key-points-section">
  			<%= image_tag("tails.png", size: "55x55", class: "discover-logo") %>
  			<p class="how-it-works-summary">
          <strong>1.</strong> Browse Listings. if you don’t see
              what you want, post a Request.
          	</p>
  		</div>
  		<div class="key-points-section">
  			<%= image_tag("money_transfer.png", size: "55x55", class: "key-points-logo") %>
  			<p class="how-it-works-summary">
          <strong>2.</strong> Fund your account, or add a credit card
            when you see something you'd like to rent or buy.
  				</p>
  		</div>
  		<div class="key-points-section">
  			<%= image_tag("contact.png", size: "55", class: "key-points-logo")%>
  			<p class="how-it-works-summary">
          		<strong>3.</strong> Reserve item and contact the owner.
          	</p>
  		</div>
  </div>

  <div class="how-it-works-container" >
  		<div class="key-points-section">
  			<%= image_tag("meetingscan_stock.png", size: "100x50", class: "discover-logo") %>
  			<p class="how-it-works-summary">
          <strong>4.</strong> Scan the unique transaction QR code on
            the owner’s phone for exchange confirmation.
  				</p>
  		</div>
  		<div class="key-points-section">
  			<%= image_tag("checkout_price_tag_usd.png", size: "65x50", class: "key-points-logo") %>
  			<p class="how-it-works-summary">
          <strong>5.</strong> If you like it, keep the item and use
            the rentals fees as purchase credits.
  				</p>
  		</div>
  </div>

    <div class="how-it-works-container">
      <h3 class="how-it-works-header">If you are offering something:</h3>
    		<div class="key-points-section">
    			<%= image_tag("list.png", size: "110x50", class: "discover-logo") %>
    			<p class="how-it-works-summary">
            <strong>1.</strong> List your item, set a price.
              You can also list your time for others: ex. tutoring, helping..etc.
  					</p>
    		</div>
    		<div class="key-points-section">
    			<%= image_tag("service_bell.png", size: "65x50", class: "key-points-logo") %>
    			<p class="how-it-works-summary">
            <strong>2.</strong> Check your account regularly for rental & purchase requests.
              Choose whom to share your item with.
  					</p>
    		</div>
    		<div class="key-points-section">
    			<%= image_tag("meetingscan_stock.png", size: "100x50", class: "key-points-logo")%>
    			<p class="how-it-works-summary">
            		<strong>3.</strong> Have the in-app QR code on your phone scanned
                  by your customer to confirm the exchange.
            	</p>
    		</div>
    </div>

    <div class="how-it-works-container" >
    		<div class="key-points-section">
    			<%= image_tag("receive.png", size: "120x50", class: "discover-logo") %>
    			<p class="how-it-works-summary">
            <strong>4.</strong> If your customer likes your item, they may also ask to purchase it.
            If they return it, you get to keep the rental fee and share
            your item again with another person.
  				</p>
    		</div>
    		<div class="key-points-section">
    			<%= image_tag("money_bag.png", size: "50x50", class: "key-points-logo") %>
    			<p class="how-it-works-summary">
            <strong>5.</strong> Cash out your money and enjoy the earnings.
  				</p>
    		</div>
    </div>
  </div>

<div class="explore-container">
		<h4 class ="title"> Explore Your Neighbourhood </h4>
  <div class="square-content">
  	<div class="square bg img1">

  	</div>

  	<div class="square bg img2">

  	</div>

  	<div class="square bg img3">

  	</div>

  	<div class="square bg img4">

  	</div>

  	<div class="square bg img5">

  	</div>

  	<div class="square bg img6">

  	</div>

  	<div class="square bg img7">

  	</div>

  	<div class="square bg img8">

  	</div>
	</div>
</div>
