<%= stylesheet_link_tag "landing" %>

<!-- Welcome section -->
<title>adae - Share what you have, get what you want.</title>
<div id="landing">
	<div id="landing-container">
		<div class="logo-name-container">
			<a href="/"><%= image_tag "logo-lg-white.png", id: "logo" %></a>
			<h1 id="welcome">adae</h1>
		</div>

		<div id="summary-container">
			<p class="summary">Share what you have, get what you want. <br> Peer-to-Peer marketplace that is safe and secure.</p>
		</div>
    <div class="coming-soon">
      <%= image_tag "App Store_Play Store_COMING SOON.png", id: "coming-soon" %></a>
    </div>
    <div id="search-field">
      <div class="search-bar">
    		<%= form_tag items_path, method: :get, authentication: false, id: 'search-form' do %>
    			<%= text_field_tag :search, params[:search],{placeholder: 'Enter your e-mail here for the Beta Invite & get $5 credit when you sign up!', class: 'search-field-placeholder'}  %>
    			<button class="search-bar-label">Submit</button>
    		<% end %>
    	</div>
	</div>
</div>
