<%= stylesheet_link_tag "items" %>

<div class="list-title">
	<h1 class="item-listing">Post a Listing</h1>
		<p class="listing-description">Make some money by sharing your items, or your time!</p>
</div>
<br>
<div class="listing-selection">
<div class="listing-choices">
	<div class="rent">
		<%= link_to 'I want to Rent', rent_path, class: "listing-button" %>
	</div>

	<div class="lease">
		<%= link_to 'I want to Lease', lease_path, class: "listing-button" %>
	</div>

	<div class="sell">
		<%= link_to 'I want to Sell', sell_path, class: "listing-button" %>
	</div>

	<div class="timeoffer">
		<%= link_to 'I want to offer my time', timeoffer_path, class: "listing-button" %>
	</div>
</div>
</div>
