
<% content_for :head do %>
	<title><%= @item.title %></title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<meta property="og:url"           content="<%= request.original_url %>" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="<%= @item.title %>" />
	<meta property="og:description"   content="<%= @item.description %>" />

	<% if @pictures %>
		<meta property="og:image" content="<%= "https://adae.co#{@pictures.first.image.url(:med)}"  %>" />
	<% end %>
<% end %>

<%= stylesheet_link_tag "items" %>
<%= include_gon %>

<script>

  function markup(price) {
    var l1 = 1.1;
    var l2 = 1.08;
    var l3 = 1.06;
    var l4 = 1.04;
    var l5 = 1.02;
    var x = price.innerHTML;
    var y = x.replace('$','');
    var amount = parseInt(y);
    var displayPrice = 0;

    if(amount < 100) {
        displayPrice = Math.round(amount*l1, 0);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 100 & amount < 200) {
        displayPrice = Math.round(100*l1 + (amount-100)*l2, -1);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 200 & amount < 500) {
        displayPrice = Math.round(100*l1 + 100*l2 + (amount-200)*l3, -1);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 500 & amount < 1000) {
        displayPrice = Math.round(100*l1 + 100*l2 + 300*l3 + (amount-500)*l4, -1);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 1000) {
        displayPrice = Math.round(100*l1 + 100*l2 + 300*l3 + 500*l4 + (amount-1000)*l5, -1);
        price.innerHTML = '$' + displayPrice;
    }
  }

  $(document).ready(function() {
    var ogprice = document.querySelectorAll('.markup');
    var p
    for (p = 0; p < ogprice.length; p++) {
      markup(ogprice[p]);
    }

		<% if @pictures %>
    	$(".photos").css("width", $(".photo-container").width() / "<%= @pictures.count + 0.0017 %>");
		<% end %>

    <% if user_signed_in? && @item.user_id == current_user.id %>
      $('.request-button').bind('click', false);
      $('.request-button').css("background-color", "#D5D5D5");
      $('.request-button').css("cursor", "default");
    <% elsif !@listing_avail && user_signed_in? %>
      $('.request-button')[0].innerHTML = "Unavailable";
      $('.request-button').bind('click', false);
      $('.request-button').css("background-color", "#D5D5D5");
      $('.request-button').css("cursor", "default");
    <% elsif @item.status == "Sold" %>
      $('.request-button')[0].innerHTML = "Sold";
      $('.request-button').bind('click', false);
      $('.request-button').css("background-color", "#D5D5D5");
      $('.request-button').css("cursor", "default");
    <% end %>

  });

</script>

<div class="item-info" id="itemInfo">
  <div class="photo-container">
    <% @pictures.each do |picture| %>
      <div class="photos">
        <%= link_to image_tag(picture.image.url(:med), class:"cover-photo"), picture.image.url%>
      </div>
    <% end %>
  </div>
    <%= hidden_field_tag 'id', @item.id%>
    <%= hidden_field_tag 'listing_type', @item.listing_type %>

    <div class="price-details">
      <% if @item.listing_type == "sell" %>
        <div class="item-detail-price" style="height:265px;">
          <div class="price-title">For Sale</div>
          <p class="sale-price"> Price:
            <span class="markup" style="font-weight: 700; color:#000;">$<%= @prices.first.amount %></span>
          </p>
          <% if user_signed_in? %>
            <%= link_to 'Request to Buy', new_transaction_path(:item_id => @item.id), class: "request-button", id: "buy-button"%>
						<%= link_to 'Send Message', conversations_path(:sender_id => current_user.id, :recipient_id => @item.user_id), :method=> :post, class: "send-message signed-in-message" %>
          <% else %>
            <%= link_to 'Request to Buy', {remote: true, controller: "home", action: "signup_modal"}, id: "buy-button", class: "request-button" %>
						<%= link_to 'Send Message', {remote: true, controller: "home", action: "signup_modal"}, class: "send-message guest-message" %>
          <% end %>
        </div>
      <% elsif @item.listing_type == "lease" %>
        <div class="item-detail-price">
          <div class="price-title2">Available for Lease</div>
            <% @prices.each do |price| %>
              <div class="price-breakdown">
                  <div class="price-list">
                    <span class="markup" style="font-weight:500;">$<%= price.amount %></span> <%= price.title %> <%= price.description %>
                  </div>
              </div>
            <% end %>
          <div class="division"></div>
          <div class="item-detail-calc">
            <div class="division-2"></div>
						<% if user_signed_in? %>
	            <%= link_to 'Request Products', new_transaction_path(:item_id => @item.id), class: "request-button", id: "lease-button"%>
							<%= link_to 'Send Message', conversations_path(:sender_id => current_user.id, :recipient_id => @item.user_id), :method=> :post, class: "send-message signed-in-message" %>
	          <% else %>
	            <%= link_to 'Request Products', {remote: true, controller: "home", action: "signup_modal"}, id: "lease-button", class: "request-button" %>
							<%= link_to 'Send Message', {remote: true, controller: "home", action: "signup_modal"}, class: "send-message guest-message" %>
	          <% end %>
          </div>
        </div>
      <% elsif @item.listing_type == "rent"%>
        <div class="item-detail-price">
          <div class="price-title2">Available for Rent</div>
            <% @prices.each do |price| %>
              <div class="price-breakdown">
                  <div class="price-list">
                    <span class="markup" style="font-weight:500;">$<%= price.amount %></span> per <%= price.timeframe %>
                  </div>
              </div>
            <% end %>
          <div class="division"></div>
          <div class="item-detail-calc">
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
              <p class="trust-fee-text">This ensures that the item is treated with care, and is returned on time.<b style="font-weight: 500"> This amount will be charged only if you fail to return the item, damage it, or lose it.</b> </p>
            <% end %>
            <div class="division-2"></div>
						<% if user_signed_in? %>
	            <%= link_to 'Request to Rent', new_transaction_path(:item_id => @item.id), class: "request-button", id: "rent-button"%>
							<%= link_to 'Send Message', conversations_path(:sender_id => current_user.id, :recipient_id => @item.user_id), :method=> :post, class: "send-message signed-in-message" %>
	          <% else %>
	            <%= link_to 'Request to Rent', {remote: true, controller: "home", action: "signup_modal"}, id: "rent-button", class: "request-button" %>
							<%= link_to 'Send Message', {remote: true, controller: "home", action: "signup_modal"}, class: "send-message guest-message" %>
	          <% end %>
          </div>
        </div>
      <% else %>
        <div class="item-detail-price">
          <div class="price-title2">Service Available</div>
          <% @prices.each do |price| %>
            <div class="price-breakdown">
              <div class="price-list">
              <% if price.timeframe == "Flat Rate" %>
                <span class="markup">$<%= price.amount %></span> <span class="price-time"><%= price.timeframe %></span>
              <% else %>
                <span class="markup">$<%= price.amount %></span> <span class="price-time">per <%= price.timeframe %></span>
              <% end %>
              </div>
            </div>
          <% end %>
					<% if user_signed_in? %>
            <%= link_to 'Request Service', new_transaction_path(:item_id => @item.id), class: "request-button", id: "service-button"%>
						<%= link_to 'Send Message', conversations_path(:sender_id => current_user.id, :recipient_id => @item.user_id), :method=> :post, class: "send-message signed-in-message" %>
          <% else %>
            <%= link_to 'Request Service', {remote: true, controller: "home", action: "signup_modal"}, id: "service-button", class: "request-button" %>
						<%= link_to 'Send Message', {remote: true, controller: "home", action: "signup_modal"}, class: "send-message guest-message" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="item-title-and-user">
      <div class="item-detail-title"><%= @item.title %></div>
			<div class="item-detail-username"><%= @item.user.full_name%>
				<%= link_to image_tag(@item.user.avatar.url(:med), class:"avatar"), user_path(@item.user) %>
			</div>
      <div class="date">Listed On: <%= @item.created_at.strftime('%d %b %Y') %></div>
    </div>
    <div class="item-detail-description">
      <div class="item-description">
        <div style="font-weight: 500; margin-bottom: -5px;">Description:</div>
        <%= simple_format(@item.description) %>
        <div class="divider"></div>
      </div>
      <div id="item-map"></div>
      <%= javascript_include_tag "map_description" %>
    </div>
</div>

<% unless @item.listing_type == "sell" %>
  <div class="rating-container" id="rating-container">
    <div class="overall-rating">
      <div class="rating-score">
        <p>Rating Score:</p>
      <% if @item.ratings.present? %>
        <p class="score"><%= @item.total_score %>/5</p>
      <% else %>
      </div>
      <% end %>
    </div>
    <div class="rating-by-user">
      <% if present_or_rated?(@item) %>
      <div class="rating-info">
        <p>My Rating</p>
        <p class="rating"><%= @item.ratings_by_user(current_user) %>/5</p>
        <%= link_to "Edit", edit_item_rating_path(@item, @rating) %>
      </div>
      <% elsif signed_in? && !@reviewable %>
        <p class="prompt">No Ratings yet - be the first to leave a rating!</p>
        <%= link_to "Add a Rating", new_item_rating_path(@item),class: "add-a-rating" %>
      <% else %>
        <!--<p class="prompt" style="margin-right: 11px; margin-top: -6px;">No Ratings yet</p>-->
      <% end %>
    </div>
  </div>

  <% if signed_in? && !@reviewable %>
    <%= form_for([@item, @review],:remote => true) do |f| %>
      <div class="review-area">
        <div class="create_review-fields">
          <div id='review-errors'>
            <% if @review.errors.any? %>
            <%= render partial: 'reviews/review_errors' %>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :name, 'Write a Review'%>
            <%= f.text_area :comment, :placeholder => 'Say something about this listing'%>
          </div>
          <div class="review-submit">
            <%= f.submit 'Create Review', :class => 'review-button' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="review-list">
    <div class="review-content">
      <div class="item-reviews">Reviews for: <%= @item.title %></div>
      <% if @item.reviews.exists? %>
        <%= render @item.reviews.order("created_at DESC") %>
      <% else %>
        <blockquote id="no-review-yet">No reviews yet.</blockquote>
      <% end %>
    </div>
  </div>
<% end %>

<% unless signed_in? %>
  <div class="why-cc">
    Why shop on Adae?
    <div class="tooltip">
      <ul>
        <li>&#x2756; <b>Convenience:</b> We ask for a credit or debit card (securely via <a style="text-decoration: underline" target="_blank" href="https://stripe.com/gallery">Stripe</a>) before making a request; in return, no need to bring cash as the owner gets paid electronically.</br></br></li>
        <li>&#x2756; <b>Security:</b> Only when your request is accepted, will your card will be charged. The owner won't receive your money until you meet.</br><br></li>
        <li>&#x2756; We are always happy to help and try to resolve disputes and issue refunds, whenever necessary.</br><br></li>
      </ul>
    </div>
  </div>
<% end %>
