<%= stylesheet_link_tag "items" %>
<script>
  function qtyLength() {
    var lngth = $('select[name="transaction[length]"] option:selected').val();
    var qty = $('#qty').val();
    $('#times').val(qty);

    if (qty <= 1) {
      $('#length').val(lngth);
    }else if (qty > 1) {
      $('#length').val(lngth + 's');
    }else  {
      $('#length').val(lngth - 's');
    }
  }
  function updateQty() {
    qtyLength();
    var qty = $('#qty').val();
    var total = <%= @price.amount %> * qty;
    $('#subtotal').val(total);
    $('#total').val(total);
  }
  function updateLength() {
    qtyLength();
  }

</script>

<div class="item-info" id="itemInfo">
  <% @pictures.each do |picture| %>
    <div class="photos">
      <%= image_tag(picture.image.url(:med), class:"cover-photo") %>
    </div>
  <% end %>
    <%= hidden_field_tag 'id', @item.id%>
    <%= hidden_field_tag 'listing_type', @item.listing_type %>

    <div class="price-details">
      <% if @item.listing_type == "sell" %>
        <div class="item-detail-price">
          <div class="price-title">For Sale</div>
          <p class="sale-price"> Price: 
            <span style="font-weight: 700; color:#000;">$<%= @price.amount %></span>
          </p>
            <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
              <span><%= f.hidden_field :length, :value => "sold" %></span>
              <span><%= f.hidden_field :item_id, :value =>@item.id %></span>
              <span><%= f.hidden_field :seller_id, :value =>@item.user.id %></span>
              <span><%= f.submit 'Request to Buy', class: "buy-button"%></span> 
            <% end %>
        </div>
      <% elsif @item.listing_type == "lease" %>
        <div class="item-detail-price">
          <div class="price-title2">$<span><%= @price.amount %></span> per <%= @price.timeframe %></div> 
          <p>How long would you like to rent this?</p>
            <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
              <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
              <span><%= f.select :length,[["Day"],["Week"],["Month"]], :onChange=>"updateLength();"%></span>
              <span><%= f.hidden_field :item_id, :value =>@item.id %></span>
              <span><%= f.hidden_field :seller_id, :value =>@item.user.id %></span>
              <span><%= f.submit 'Request to Lease', class: "rent-button"%></span> 
            <% end %>
          <div class="divider"></div>
          <div class="item-detail-deposit">
              $<%= @price.amount %> x 
              <input id="times" readonly="readonly" value="" style="border:0; width: 13px;"></input>
              <input id="length" readonly="readonly" value="" style="border:0; width: 50px;"></input>
              <input id="subtotal" readonly="readonly" value="" style="border:0; width: 20px;"></input>
              
              <% unless @item.deposit == 0 %>
              Trust Fee: $<%= @item.deposit %>
                <!-- This ensures that the item is treated with care, and is returned on time.This amount will be charged only if you fail to return the item, damate it, or lose it -->
              $<%= @item.deposit %>
              <% end %>
              <div class="divider"></div>
              Total
              <input id="total" readonly="readonly" value="" style="border:0; width: 20px;"></input>
          </div>
        </div>
        <div class="item-lease-price">
          <div class="price-title">Available for Sale</div>
          <p>Pay a rental fee to try the item, and if you like it you can buy the item for the Trust Fee price.</p>
          <p>Your rental fees will count towards the final sale price.</p>
          <p class="sale-price"> Sale Price: 
            <span style="font-weight: 700; color:#000;">$<%= @item.deposit %></span>
          </p>
        </div>
      <% elsif @item.listing_type == "rent"%>

      <% end %>
    </div>
        <!-- <div class="bootstrap quantity-box">
          <%#= render :partial => "layouts/additem", locals: {item: @item, page: "items_show"} %>
        </div> -->
     
    <div class="item-title-and-user">
      <div class="item-detail-title"><%= @item.title %></div>
      <div class="item-detail-username"><%= @item.user.full_name%></div>
    </div>
    <div class="item-detail-description">
      <div class="item-description">
        <span style="font-weight: 500;">Description:</span>
        <%= @item.description %>
        <div class="divider"></div>
      </div>
    </div>
</div>

<div class="rating-container">
  <div class="overall-rating">
    <div class="rating-score">
      <p>Rating Score:</p>
    <% if @item.ratings.present? %>
      <p class="score"><%= @item.total_score %>/5</p>
    <% else %>
    </div>
    <% end %>
  </div>

  <div class="rating-by-user">
    <% if present_or_rated?(@item) %>
    <div class="rating-info">
      <p>My Rating</p> 
      <p class="rating"><%= @item.ratings_by_user(current_user) %>/5</p>
      <%= link_to "Edit", edit_item_rating_path(@item, @rating) %>
    </div>
    <% else %>
      <p class="prompt">No Ratings yet - be the first to leave a rating!</p>
      <%= link_to "Add a Rating", new_item_rating_path(@item),class: "add-a-rating" %>
    <% end %>
  </div>
</div>

  <%= form_for([@item, @review],:remote => true) do |f| %>

<div class="review-list">
  <div class="create_review-fields">
    <div id='review-errors'>
      <% if @review.errors.any? %>
      <%= render partial: 'reviews/review_errors' %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :name, 'Write a Review'%>
      <%= f.text_area :comment, :placeholder => 'Say something about this listing'%>
    </div>
    <div class="review-submit">
      <%= f.submit 'Create Review', :class => 'review-button' %>
    </div>
    <% end %>
  </div>
  <div class="review-content">
    <div class="item-reviews">Reviews for <em><%= @item.title %> </em></div>
    <%= render @item.reviews.order("created_at DESC") %>
  </div>
</div>
