<%= stylesheet_link_tag "items" %>

<div class="item-info" id="itemInfo">
  <%= link_to image_tag(@item.photo.url(:med)), @item.photo.url %>
  <div class="item-details">
  	<h4 class="item-detail-title" id="title"><%= @item.title %></h4>
    <span><%= hidden_field_tag 'id', @item.id%></span>
    <p class="item-detail-title">posted by <%= @item.user.full_name%></p>
  	<p class="item-detail-description"><%= @item.description %></p>
    <p class="item-detail-description"><%= @item.listing_type %></p>
    <p class="item-detail-description"><%= @item.tags %></p>
  	<p class="item-detail-deposit">Deposit for this Item: $ <%= @item.deposit %></p>
    <div class="price item-detail-deposit">Price is $ <span> <%= @price.amount %></span> per <%= @price.timeframe %> </div>
  </div>
</div>

  <div class="bootstrap quantity-box">
    <%= render :partial => "layouts/additem", locals: {item: @item, page: "items_show"}%>
  </div>

  <div class="rating-container">
    <div class = "overall-rating">
      Rating Score:
      <% if @item.ratings.present? %>
        <%= @item.total_score %>% Reliable
      <% else %>
        No Ratings Avaliable - be the first to leave a rating!
      <% end %>

    </div>

    <div class = "rating-by-user">
      <% if present_or_rated?(@item) %>
        <div class="rating-info"><p>My Rating</p> <p class="rating"><%= @item.ratings_by_user(current_user) %></p>
        <%= link_to "Edit", edit_item_rating_path(@item, @rating) %>
      </div>
      <% else %>
        <div class="add-a-rating"><%= link_to "Add a Rating", new_item_rating_path(@item) %></div>
      <% end %>
    </div>
  </div>




  <%= form_for([@item, @review],:remote => true) do |f| %>


<div class="review-list">
    <div class="create_review-fields">
      <div id='review-errors'>
        <% if @review.errors.any? %>
        <%= render partial: 'reviews/review_errors' %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :name, 'Write a Review'%>
        <%= f.text_area :comment, :placeholder => 'Say something about this listing'%>
      </div>
      <div class="review-submit">
        <%= f.submit 'Create Review', :class => 'review-button' %>
      </div>
      <% end %>
    </div>
    <div class="review-content">
      <div class="item-reviews">Reviews for <em><%= @item.title %> </em></div>
      <%= render @item.reviews.order("created_at DESC") %>
    </div>
</div>
