<%= stylesheet_link_tag "items" %>
<script>
  function markup(price) {
    var l1 = 1.1;
    var l2 = 1.08;
    var l3 = 1.06;
    var l4 = 1.04;
    var l5 = 1.02;
    var x = price.innerHTML;
    var y = x.replace('$','');
    var amount = parseInt(y);
    var displayPrice = 0;
    
    if(amount < 100) {
        displayPrice = Math.round(amount*l1, 0);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 100 & amount < 200) {
        displayPrice = Math.round(100*l1 + (amount-100)*l2, -1);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 200 & amount < 500) {
        displayPrice = Math.round(100*l1 + 100*l2 + (amount-200)*l3, -1);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 500 & amount < 1000) {
        displayPrice = Math.round(100*l1 + 100*l2 + 300*l3 + (amount-500)*l4, -1);
        price.innerHTML = '$' + displayPrice;
    }else if(amount >= 1000) {
        displayPrice = Math.round(100*l1 + 100*l2 + 300*l3 + 500*l4 + (amount-1000)*l5, -1);
        price.innerHTML = '$' + displayPrice; 
    }
  }

  $(document).ready(function() {
    var ogprice = document.querySelectorAll('.markup');
    var p
    for (p = 0; p < ogprice.length; p++) {
      markup(ogprice[p]);
    }

    $(".photos").css("width", $(".photo-container").width() / "<%= @pictures.count + 0.017 %>");

    <% if user_signed_in? && @item.user_id == current_user.id %>
      $('.request-button').bind('click', false);
      $('.request-button').css("background-color", "#D5D5D5");
      $('.request-button').css("cursor", "default");
    <% elsif !@transaction_dne && user_signed_in? %>
      $('.request-button')[0].innerHTML = "Unavailable";
      $('.request-button').bind('click', false);
      $('.request-button').css("background-color", "#D5D5D5");
      $('.request-button').css("cursor", "default");
    <% end %>    
  });

  $('#why_adae').click(function(){

    $('.toast').remove();

    toastr.options ={
      'timeOut': "30000",
      'extendedTimeOut': "2000",
    "positionClass": 'toast-bottom-right',
      "preventDuplicates": true
    };

    var rent_text = " <br><span style='font-weight: 600; font-size: 20px;'>Why Adae?</span> <br><br> \
    <div style='line-height: normal;'> &#x2756; We ask for a credit card (securely via Stripe) before making a request; \
    in return, no need to bring cash as NAME gets paid electronically. Security really matters to us. <br><br> \
    &#x2756; Only when your request is accepted, will your card will be charged. NAME won't receive your money until you meet. <br><br>\
    &#x2756; We are always happy to help resolve disputes and issue refunds, whenever necessary.</div> <br>";

    toastr.info(rent_text);
  });

</script>

<div class="item-info" id="itemInfo">
  <div class="photo-container">
    <% @pictures.each do |picture| %>
      <div class="photos">
        <%= link_to image_tag(picture.image.url(:med), class:"cover-photo"), picture.image.url%>
      </div>
    <% end %>
  </div>
    <%= hidden_field_tag 'id', @item.id%>
    <%= hidden_field_tag 'listing_type', @item.listing_type %>

    <div class="price-details">
      <% if @item.listing_type == "sell" %>
        <div class="item-detail-price" style="height:270px;">
          <div class="price-title">For Sale</div>
          <p class="sale-price"> Price:
            <span class="markup" style="font-weight: 700; color:#000;">$<%= @prices.first.amount %></span>
          </p>
            <%= link_to 'Request to Buy', new_transaction_path(:item_id => @item.id), class: "request-button", id: "buy-button"%>
        </div>
      <% elsif @item.listing_type == "lease" %>
        <div class="item-detail-price" style="height:310px;">
          <div class="price-title2">Available for Lease</div>
            <% @prices.each do |price| %>
              <div class="price-breakdown">
                  <div class="price-list">
                    <span class="markup" style="font-weight:500;">$<%= price.amount %></span> per <%= price.timeframe %>
                  </div>
              </div>
            <% end %>
          <div class="division"></div>
          <div class="item-detail-calc">
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
              <p class="trust-fee-text">This ensures that the item is treated with care, and is returned on time. <b style="font-weight: 500"> This amount will be charged only if you fail to return the item, damage it, or lose it.</b> </p>
            <% end %>
            <div class="division-2"></div>
            <%= link_to 'Request to Lease', new_transaction_path(:item_id => @item.id), class: "request-button", id: "lease-button"%>
          </div>
        </div>
        <div class="item-lease-price" >
          <div class="price-title">Also Available for Sale</div>
          <p>Pay a rental fee to try the item, and if you like it you can buy the item for the Trust Fee price.</p>
          <p>Your rental fees will count towards the final sale price.</p>
          <p class="sale-price"> Sale Price:
            <span class="markup" style="font-weight: 700; color:#000;">$<%= @item.deposit %></span>
          </p>
          <%= link_to 'Request to Buy', new_transaction_path(:item_id => @item.id, :sell=> true), class: "request-button", id: "buy-button"%>
        </div>
      <% elsif @item.listing_type == "rent"%>
        <div class="item-detail-price" style="height:310px";>
          <div class="price-title2">Available for Rent</div>
            <% @prices.each do |price| %>
              <div class="price-breakdown">
                  <div class="price-list">
                    <span class="markup" style="font-weight:500;">$<%= price.amount %></span> per <%= price.timeframe %>
                  </div>
              </div>
            <% end %>
          <div class="division"></div>
          <div class="item-detail-calc">
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
              <p class="trust-fee-text">This ensures that the item is treated with care, and is returned on time.<b style="font-weight: 500"> This amount will be charged only if you fail to return the item, damage it, or lose it.</b> </p>
            <% end %>
            <div class="division-2"></div>
            <%= link_to 'Request to Rent', new_transaction_path(:item_id => @item.id), class: "request-button", id: "rent-button"%>
          </div>
        </div>
      <% else %>
        <div class="item-detail-price" style="height:240px;">
          <div class="price-title2">Service Available</div>
            <div class="price-breakdown" style="margin-top: 65px;">
              <span class="markup" style="font-weight: 700; font-size: 20px; color:#000;">$<%= @prices.first.amount %></span> per <%= @prices.first.timeframe %>
            </div>
          <%= link_to 'Request Service', new_transaction_path(:item_id => @item.id), class: "request-button", id: "service-button"%>
        </div>
      <% end %>
    </div>

    <div class="item-title-and-user">
      <div class="item-detail-title"><%= @item.title %></div>
      <div class="item-detail-username"><%= @item.user.full_name%>
        <%= link_to image_tag(@item.user.avatar.url(:med), class:"avatar"), user_path(@item.user) %>
      </div>
      <div class="date">Listed On: <%= @item.created_at.strftime('%d %b %Y') %></div>
    </div>
    <div class="item-detail-description">
      <div class="item-description">
        <span style="font-weight: 500;">Description:</span>
        <%= @item.description %>
        <div class="divider"></div>
      </div>
    </div>
</div>
  <div class="rating-container">
    <div class="overall-rating">
      <div class="rating-score">
        <p>Rating Score:</p>
      <% if @item.ratings.present? %>
        <p class="score"><%= @item.total_score %>/5</p>
      <% else %>
      </div>
      <% end %>
    </div>

    <div class="rating-by-user">
      <% if present_or_rated?(@item) %>
      <div class="rating-info">
        <p>My Rating</p>
        <p class="rating"><%= @item.ratings_by_user(current_user) %>/5</p>
        <%= link_to "Edit", edit_item_rating_path(@item, @rating) %>
      </div>
      <% elsif signed_in? %>
        <p class="prompt">No Ratings yet - be the first to leave a rating!</p>
        <%= link_to "Add a Rating", new_item_rating_path(@item),class: "add-a-rating" %>
      <% else %>
      <% end %>
    </div>
  </div>
<% if signed_in? %>
  <%= form_for([@item, @review],:remote => true) do |f| %>
    <div class="review-area">
      <div class="create_review-fields">
        <div id='review-errors'>
          <% if @review.errors.any? %>
          <%= render partial: 'reviews/review_errors' %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :name, 'Write a Review'%>
          <%= f.text_area :comment, :placeholder => 'Say something about this listing'%>
        </div>
        <div class="review-submit">
          <%= f.submit 'Create Review', :class => 'review-button' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if !user_signed_in? %>
<div id="why_adae">
  Why Adae?
</div>
<% end %>

<div class="review-list">
  <div class="review-content">
    <div class="item-reviews">Reviews for <em><%= @item.title %> </em></div>
    <%= render @item.reviews.order("created_at DESC") %>
  </div>
</div>
