<%= stylesheet_link_tag "items" %>
<script>
  function qtyLength() {
    var lngth = $('#time-selection').val();
    var qty = $('#qty').val();
    $('#times').val(qty);

    if (qty <= 1) {
      $('#length').val(lngth);
    }else if (qty > 1) {
      $('#length').val(lngth + 's');
    }else  {
      $('#length').val(lngth - 's');
    }
  }
  function updateQty() {
    qtyLength();
    var qty = $('#qty').val();
    var total = <%= @price.amount %> * qty;
    $('#subtotal').val('$' + total);
    $('#total').val('$' + total);
  }
  function updateLength() {
    qtyLength();
  }

</script>

<div class="item-info" id="itemInfo">
  <% @pictures.each do |picture| %>
    <div class="photos">
      <%= image_tag(picture.image.url(:med), class:"cover-photo") %>
    </div>
  <% end %>
    <%= hidden_field_tag 'id', @item.id%>
    <%= hidden_field_tag 'listing_type', @item.listing_type %>

    <div class="price-details">
      <% if @item.listing_type == "sell" %>
        <div class="item-detail-price">
          <div class="price-title">For Sale</div>
          <p class="sale-price"> Price:
            <span style="font-weight: 700; color:#000;">$<%= @price.amount %></span>
          </p>
          <%= link_to 'Request to Buy', new_transaction_path(:item_id => @item.id), class: "buy-button"%>
        </div>
      <% elsif @item.listing_type == "lease" %>
        <div class="item-detail-price">
          <div class="price-title2">$<span><%= @price.amount %></span> per <%= @price.timeframe %></div>
          <p class="how-long">How long would you like to lease this?</p>
          <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
          <select id="time-selection" onchange="updateLength()">
            <option value="Day">Day
            <option value="Week">Week
            <option value="Month">Month
          </select>
          <div class="division"></div>
          <div class="item-detail-calc">
            <input class="amount" readonly="readonly" value="$<%= @price.amount %> x"></input>
            <input id="times" readonly="readonly" value=""></input>
            <input id="length" readonly="readonly" value=""></input>
            <input id="subtotal" readonly="readonly" value=""></input>
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
              <input class="deposit" readonly="readonly" value="$<%= @item.deposit %>"></input>
              <p class="trust-fee-text">This ensures that the item is treated with care, and is returned on time.This amount will be charged only if you fail to return the item, damate it, or lose it. </p>

            <% end %>
            <div class="division"></div>
            <span class="finalp">Total</span>
            <input id="total" readonly="readonly" value=""></input>
            <%= link_to 'Request to Rent', new_transaction_path(:item_id => @item.id), class: "rent-button"%>
          </div>
        </div>
        <div class="item-lease-price">
          <div class="price-title">Available for Sale</div>
          <p>Pay a rental fee to try the item, and if you like it you can buy the item for the Trust Fee price.</p>
          <p>Your rental fees will count towards the final sale price.</p>
          <p class="sale-price"> Sale Price:
            <span style="font-weight: 700; color:#000;">$<%= @item.deposit %></span>
          </p>
          <%= link_to 'Request to Buy', new_transaction_path(:item_id => @item.id), class: "buy-button"%>
        </div>
      <% elsif @item.listing_type == "rent"%>
        <div class="item-detail-price">
          <div class="price-title2">$<span><%= @price.amount %></span> per <%= @price.timeframe %></div>
          <p class="how-long">How long would you like to rent this?</p>
          <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
          <select id="time-selection" onchange="updateLength()">
            <option value="Day">Day
            <option value="Week">Week
            <option value="Month">Month
          </select>
          <div class="division"></div>
          <div class="item-detail-calc">
            <input class="amount" readonly="readonly" value="$<%= @price.amount %> x"></input>
            <input id="times" readonly="readonly" value=""></input>
            <input id="length" readonly="readonly" value=""></input>
            <input id="subtotal" readonly="readonly" value=""></input>
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
              <input class="deposit" readonly="readonly" value="$<%= @item.deposit %>"></input>
              <p class="trust-fee-text">This ensures that the item is treated with care, and is returned on time.This amount will be charged only if you fail to return the item, damate it, or lose it. </p>
            <% end %>
            <div class="division"></div>
            <span class="finalp">Total</span>
            <input id="total" readonly="readonly" value=""></input>
            <%= link_to 'Request to Rent', new_transaction_path(:item_id => @item.id), class: "rent-button"%>
          </div>
        </div>
      <% else %>
        <div class="item-detail-price">
          <div class="price-title2">$<span><%= @price.amount %></span> per <%= @price.timeframe %></div>
          <p class="how-long">How long would you like the service to last?</p>
          <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
          <select id="time-selection" onchange="updateLength()">
            <option value="Day">Day
            <option value="Week">Week
            <option value="Month">Month
          </select>
          <div class="division"></div>
          <div class="item-detail-calc">
            <input class="amount" readonly="readonly" value="$<%= @price.amount %> x"></input>
            <input id="times" readonly="readonly" value=""></input>
            <input id="length" readonly="readonly" value=""></input>
            <input id="subtotal" readonly="readonly" value=""></input>
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
                <!-- This ensures that the item is treated with care, and is returned on time.This amount will be charged only if you fail to return the item, damate it, or lose it -->
              <input class="deposit" readonly="readonly" value="$<%= @item.deposit %>"></input>
            <% end %>
            <div class="division"></div>
            <span class="finalp">Total</span>
            <input id="total" readonly="readonly" value=""></input>
            <%= link_to 'Request Service', new_transaction_path(:item_id => @item.id), class: "rent-button"%>
          </div>
        </div>
      <% end %>
    </div>

    <div class="item-title-and-user">
      <div class="item-detail-title"><%= @item.title %></div>
      <div class="item-detail-username"><%= @item.user.full_name%></div>
    </div>
    <div class="item-detail-description">
      <div class="item-description">
        <span style="font-weight: 500;">Description:</span>
        <%= @item.description %>
        <div class="divider"></div>
      </div>
    </div>
</div>

<div class="rating-container">
  <div class="overall-rating">
    <div class="rating-score">
      <p>Rating Score:</p>
    <% if @item.ratings.present? %>
      <p class="score"><%= @item.total_score %>/5</p>
    <% else %>
    </div>
    <% end %>
  </div>

  <div class="rating-by-user">
    <% if present_or_rated?(@item) %>
    <div class="rating-info">
      <p>My Rating</p>
      <p class="rating"><%= @item.ratings_by_user(current_user) %>/5</p>
      <%= link_to "Edit", edit_item_rating_path(@item, @rating) %>
    </div>
    <% else %>
      <p class="prompt">No Ratings yet - be the first to leave a rating!</p>
      <%= link_to "Add a Rating", new_item_rating_path(@item),class: "add-a-rating" %>
    <% end %>
  </div>
</div>

  <%= form_for([@item, @review],:remote => true) do |f| %>

<div class="review-list">
  <div class="create_review-fields">
    <div id='review-errors'>
      <% if @review.errors.any? %>
      <%= render partial: 'reviews/review_errors' %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :name, 'Write a Review'%>
      <%= f.text_area :comment, :placeholder => 'Say something about this listing'%>
    </div>
    <div class="review-submit">
      <%= f.submit 'Create Review', :class => 'review-button' %>
    </div>
    <% end %>
  </div>
  <div class="review-content">
    <div class="item-reviews">Reviews for <em><%= @item.title %> </em></div>
    <%= render @item.reviews.order("created_at DESC") %>
  </div>
</div>
