<%= stylesheet_link_tag "items" %>
<script>
$(document).ready(function() {

  $(".photos").css("width", $(".photo-container").width() / "<%= @pictures.count + 0.017 %>");

});

<%# if user_signed_in? %>
  <% if @item.listing_type == 'rent' %>
    toastr.options ={
      'timeOut': "3000",
      'extendedTimeOut': "2000",
      "positionClass": 'toast-bottom-right'
    };

    var rent_text = "Why Adae? <br> \
    - This item is available for rent! If you want it, submit a request. <br> \
    - We ask for a credit card (securely via Stripe) before making a request; in return, <br> \
    NAME must meet with you if accepted & the item must be in good condition. <br> \
    - Once accepted, you will be charged & can chat with NAME. <br> \
    - Use the QR scanner in Adae Companion App when meeting. No need to bring cash as NAME gets paid upon scanning. <br> \
    - Don't worry about the trust fee! It's charged only if you lose or fail to return the item. <br> \
    - We are always happy to help resolve disputes and issue refunds, whenever necessary."

    toastr.info(rent_text);
  <% elsif @item.listing_type == 'lease' %>
    toastr.options ={
      'timeOut': "3000",
      'extendedTimeOut': "2000",
      "positionClass": 'toast-bottom-right'
    };
    toastr.info("<%= flash[:notice] %>");
  <% elsif @item.listing_type == 'timeoffer' %>
    toastr.options ={
      'timeOut': "3000",
      'extendedTimeOut': "2000",
      "positionClass": 'toast-bottom-right'
    };
    toastr.info("<%= flash[:notice] %>");
  <% elsif @item.listing_type == 'sell' %>
    toastr.options ={
      'timeOut': "3000",
      'extendedTimeOut': "2000",
      "positionClass": 'toast-bottom-right'
    };
    toastr.info("<%= flash[:notice] %>");
  <% end %>
<%# end %>


</script>

<div class="item-info" id="itemInfo">
  <div class="photo-container">
    <% @pictures.each do |picture| %>
      <div class="photos">
        <%= link_to image_tag(picture.image.url(:med), class:"cover-photo"), picture.image.url%>
      </div>
    <% end %>
  </div>
    <%= hidden_field_tag 'id', @item.id%>
    <%= hidden_field_tag 'listing_type', @item.listing_type %>

    <div class="price-details">
      <% if @item.listing_type == "sell" %>
        <div class="item-detail-price" style="height:270px;">
          <div class="price-title">For Sale</div>
          <p class="sale-price"> Price:
            <span style="font-weight: 700; color:#000;">$<%= @prices.first.amount %></span>
          </p>
          <%= link_to 'Request to Buy', new_transaction_path(:item_id => @item.id), class: "buy-button"%>
        </div>
      <% elsif @item.listing_type == "lease" %>
        <div class="item-detail-price" style="height:310px;">
          <div class="price-title2">Available for Lease</div>
    <!-- <p class="how-long">How long would you like to lease this?</p> -->
    <!-- <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input> -->
            <% @prices.each do |price| %>
              <div class="price-breakdown">
                  <div class="price-list">
                    <span style="font-weight:500;">$<%= price.amount %></span> per <%= price.timeframe %>
                  </div>
              </div>
            <% end %>
          <!-- <select id="time-selection" onchange="updateLength()">
            <option value="Day">Day
            <option value="Week">Week
            <option value="Month">Month
          </select> -->
          <div class="division"></div>
          <div class="item-detail-calc">
            <!-- <input class="amount" readonly="readonly" value="$<%#= @price.amount %> x"></input> -->
            <!-- <input id="times" readonly="readonly" value=""></input> -->
            <!-- <input id="length" readonly="readonly" value=""></input> -->
            <!-- <input id="subtotal" readonly="readonly" value=""></input> -->
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
             <!-- <input class="deposit" readonly="readonly" value="$<%#= @item.deposit %>"></input> -->
              <p class="trust-fee-text">This ensures that the item is treated with care, and is returned on time. <b style="font-weight: 500">This amount will be charged only if you fail to return the item, damage it, or lose it.</b> </p>
            <% end %>
            <div class="division-2"></div>
            <!-- <span class="finalp">Total</span>
            <input id="total" readonly="readonly" value=""></input> -->
            <%= link_to 'Request to Lease', new_transaction_path(:item_id => @item.id), class: "rent-button"%>
          </div>
        </div>
        <div class="item-lease-price" >
          <div class="price-title">Also Available for Sale</div>
          <p>Pay a rental fee to try the item, and if you like it you can buy the item for the Trust Fee price.</p>
          <p>Your rental fees will count towards the final sale price.</p>
          <p class="sale-price"> Sale Price:
            <span style="font-weight: 700; color:#000;">$<%= @item.deposit %></span>
          </p>
          <%= link_to 'Request to Buy', new_transaction_path(:item_id => @item.id, :sell=> true), class: "buy-button"%>
        </div>
      <% elsif @item.listing_type == "rent"%>
        <div class="item-detail-price" style="height:310px";>
          <div class="price-title2">Available for Rent</div>
          <% @prices.each do |price| %>
            <div class="price-breakdown">
                <div class="price-list">
                  <span style="font-weight:500;">$<%= price.amount %></span> per <%= price.timeframe %>
                </div>
            </div>
          <% end %>
          <!-- <p class="how-long">How long would you like to rent this?</p>
       -->    <!-- <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
          <select id="time-selection" onchange="updateLength()">
            <option value="Day">Day
            <option value="Week">Week
            <option value="Month">Month
          </select> -->
          <div class="division"></div>
          <div class="item-detail-calc">
            <!-- <input class="amount" readonly="readonly" value="$<%#= @price.amount %> x"></input> -->
            <!--<input id="times" readonly="readonly" value=""></input>
            <input id="length" readonly="readonly" value=""></input>
            <input id="subtotal" readonly="readonly" value=""></input>-->
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
              <!-- <input class="deposit" readonly="readonly" value="$<%#= @item.deposit %>"></input> -->
              <p class="trust-fee-text">This ensures that the item is treated with care, and is returned on time.<b style="font-weight: 500">This amount will be charged only if you fail to return the item, damage it, or lose it.</b> </p>
            <% end %>
            <div class="division-2"></div>
            <!-- <span class="finalp">Total</span>
            <input id="total" readonly="readonly" value=""></input> -->
            <%= link_to 'Request to Rent', new_transaction_path(:item_id => @item.id), class: "rent-button"%>
          </div>
        </div>
      <% else %>
        <div class="item-detail-price" style="height:230px;">
          <div class="price-title2">Service Available</div>
            <div class="price-breakdown" style="margin-top: 60px; margin-bottom: 15px;">
              <span style="font-weight: 700; font-size: 20px; color:#000;">$<%= @prices.first.amount %></span> per <%= @prices.first.timeframe %>
            </div>
          <!-- <p class="how-long">How long would you like the service to last?</p> -->
          <!-- <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
          <select id="time-selection" onchange="updateLength()">
            <option value="Day">Day
            <option value="Week">Week
            <option value="Month">Month
          </select> -->
          <div class="item-detail-calc">
            <!-- <input class="amount" readonly="readonly" value="$<%#= @price.amount %> x"></input> -->
            <input id="times" readonly="readonly" value=""></input>
            <input id="length" readonly="readonly" value=""></input>
            <input id="subtotal" readonly="readonly" value=""></input>
            <% unless @item.deposit == 0 %>
              <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
                <!-- This ensures that the item is treated with care, and is returned on time.This amount will be charged only if you fail to return the item, damate it, or lose it -->
<!--               <input class="deposit" readonly="readonly" value="$<%= @item.deposit %>"></input>
 -->            <% end %>
            <!-- <span class="finalp">Total</span>
            <input id="total" readonly="readonly" value=""></input> -->
            <%= link_to 'Request Service', new_transaction_path(:item_id => @item.id), class: "rent-button"%>
          </div>
        </div>
      <% end %>
    </div>

    <div class="item-title-and-user">
      <div class="item-detail-title"><%= @item.title %></div>
      <div class="item-detail-username"><%= @item.user.full_name%>
        <%= link_to image_tag(@item.user.avatar.url(:med), class:"avatar"), user_path(@item.user) %>
      </div>
    </div>
    <div class="item-detail-description">
      <div class="item-description">
        <span style="font-weight: 500;">Description:</span>
        <%= @item.description %>
        <div class="divider"></div>
      </div>
    </div>
</div>

<!--commented out for now <div class="gallery-container">
  <% @pictures.each do |picture| %>
    <div class="photo-grid">
      <%= link_to image_tag(picture.image.url(:med), class:"gallery-photo"), picture.image.url%>
    </div>
  <% end %>
</div>-->



<div class="rating-container">
  <div class="overall-rating">
    <div class="rating-score">
      <p>Rating Score:</p>
    <% if @item.ratings.present? %>
      <p class="score"><%= @item.total_score %>/5</p>
    <% else %>
    </div>
    <% end %>
  </div>

  <div class="rating-by-user">
    <% if present_or_rated?(@item) %>
    <div class="rating-info">
      <p>My Rating</p>
      <p class="rating"><%= @item.ratings_by_user(current_user) %>/5</p>
      <%= link_to "Edit", edit_item_rating_path(@item, @rating) %>
    </div>
    <% else %>
      <p class="prompt">No Ratings yet - be the first to leave a rating!</p>
      <%= link_to "Add a Rating", new_item_rating_path(@item),class: "add-a-rating" %>
    <% end %>
  </div>
</div>

  <%= form_for([@item, @review],:remote => true) do |f| %>

<div class="review-list">
  <div class="create_review-fields">
    <div id='review-errors'>
      <% if @review.errors.any? %>
      <%= render partial: 'reviews/review_errors' %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :name, 'Write a Review'%>
      <%= f.text_area :comment, :placeholder => 'Say something about this listing'%>
    </div>
    <div class="review-submit">
      <%= f.submit 'Create Review', :class => 'review-button' %>
    </div>
    <% end %>
  </div>
  <div class="review-content">
    <div class="item-reviews">Reviews for <em><%= @item.title %> </em></div>
    <%= render @item.reviews.order("created_at DESC") %>
  </div>
</div>
