<%= stylesheet_link_tag "transactions" %>

<script>
  $(document).ready(function() {
    var total_price;
    <% if @item.listing_type != "sell" %>
      <% if params[:sell] == "true" %>
        $('#display-price')[0].innerHTML = "$" + markup_price(<%= @item.deposit %>);
        total_price = (markup_price(<%= @item.deposit %>));
        $('#total').val("$" + ((total_price * 1.029) + 0.30).toFixed(2));
        $('#stripe-fee')[0].innerHTML = "$" + ( (markup_price(<%= @item.deposit %>) * 0.029) + 0.30).toFixed(2);
        $('#price').val(total_price);
      <% end %>

      <% if current_user.stripe_customer_id.nil?  %>
        $('.stripe-button-el').click(function(event){

          if (!validateInteger($('#qty').val())){
            event.preventDefault();
          }
        });
      <% else %>
        $('.request-button').click(function(event){
          if (!validateInteger($('#qty').val())){
            event.preventDefault();
          }
        });
      <% end %>

    <% elsif @item.listing_type == "sell" %>
      $('#display-price')[0].innerHTML = "$" + markup_price(<%= @prices.first.amount %>);
      total_price = (markup_price(<%= @prices.first.amount %>));
      $('#total').val("$" + ((total_price * 1.029) + 0.30).toFixed(2));
      $('#stripe-fee')[0].innerHTML = "$" + ( (markup_price(<%= @prices.first.amount %>) * 0.029) + 0.30).toFixed(2);
      $('#price').val(total_price);
    <% end %>
  });

  var hash = {};

  <% @prices.each do |price| %>
      hash['<%= price.timeframe%>'] = <%= price.amount%>;
  <% end %>

  function qtyLength() {
    var lngth = $('select[name="transaction[length]"] option:selected').val();
    var qty = $('#qty').val();
    $('#times').val(qty);

    if (qty <= 1) {
      $('#length').val(lngth);
    }else if (qty > 1) {
      $('#length').val(lngth + 's');
    }else  {
      $('#length').val(lngth - 's');
    }
  }

  function updateQty() {
    update();
  }

  function validateInteger(quantity){
    if (quantity > 0 && (parseFloat(quantity) === parseInt(quantity, 10))){
      return true;
    }else {
      $('.toast').remove();


      toastr.options ={
        'timeOut': "5000",
        'extendedTimeOut': "2000",
        "positionClass": 'toast-top-center'
      };

      toastr.warning("Quantity must be in whole numbers");

      return false;
    }
  }

  function updateLength() {
    if ($('#qty').val() > 0){
      update();
    }
  }

  //helper function for calculating adae fee, stripe fee, and grand total
  function update(){
    qtyLength();
    var length = $('#transaction_length').val();

    var amt = markup_price(hash[length]);
    $('#amt').val('$ ' + amt + ' x');

    var qty = $('#qty').val();
    var total = (amt * qty);

    if (validateInteger(qty)){
      var fee = ((total * 0.029) + 0.30).toFixed(2);
      var pre_markup = total -  (qty * hash[length]);

      $('#subtotal').val('$' + total);
      $('#price').val(total);

      total = (parseFloat(total) + parseFloat(fee));

      //$('#markup-price')[0].innerHTML = "$" + pre_markup;
      $('#stripe-fee')[0].innerHTML = "$" + fee;
      $('#duration')[0].value = $('#qty').val() + "-" + $('#transaction_length').val();

      //decide wether to disable submit button or not depending on qty
      $('#transaction_total_price').val('$' + total);
    }
  }

  function markup_price(price) {
    var l1 = 1.1;
    var l2 = 1.08;
    var l3 = 1.06;
    var l4 = 1.04;
    var l5 = 1.02;
    var displayPrice = 0;

    if(price < 100) {
        displayPrice = Math.round(price*l1, 0);
    }else if(price >= 100 & price < 200) {
        displayPrice = Math.round(100*l1 + (price-100)*l2, -1);
    }else if(price >= 200 & price < 500) {
        displayPrice = Math.round(100*l1 + 100*l2 + (price-200)*l3, -1);
    }else if(price >= 500 & price < 1000) {
        displayPrice = Math.round(100*l1 + 100*l2 + 300*l3 + (price-500)*l4, -1);
    }else if(price >= 1000) {
        displayPrice = Math.round(100*l1 + 100*l2 + 300*l3 + 500*l4 + (price-1000)*l5, -1);
    }

    return displayPrice;
  }
</script>

<div class="payment-info">

  <div style="display: table; margin:auto; line-height: normal; color: #4a4a4a; margin-bottom: -20px;">
    <h1 style="font-weight: 600; text-align: left; margin-bottom: 10px; margin-top: 1em;">Payment</h1>
    <span> You will only be charged if the owner accepts your request. Don't worry, they will not receive your money until the unique Transaction </br> QR Code on his/her phone is scanned by you via the Adae Scanner App when you two meet. Your money is always 100% safe with us.</span>
  </div>
  </br>
  </br>
  </br>
  <div style="display: inline-block; width: 48%; vertical-align: top;">
    <%= image_tag(@item.photo_url, class:'item-pic') %>
    <% unless @item.listing_type == "sell" %>
    <% end %>
  </div>

    <div class="price-details">
      <!-- If listing type sell OR request  to buy a lease item -->
      <% if @item.listing_type == "sell" || params[:sell] == "true"%>

        <div class="item-detail-price" style="height: 260px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <% unless params[:sell] == "true" %>
            <p id="display-price" style="font-size: 30px; font-weight: 500; color: #4a4a4a;"></p>
          <% else %>
            <p id="display-price" style="font-size: 30px; font-weight: 500; color: #4a4a4a;"></p>
          <% end %>
          <div class="item-detail-calc">
            <!--<section id="markup-container">
              <label style="margin-bottom: 10px;" id="markup-label">Adae Fee:
              <span>
                <span class="wrapper">
                  ?
                  <div class="tooltip">We charge a 4% to 10% fee to cover the cost of running Adae, and to always keep it ad-free.</div>
                </span>
              </span>
              </label>
              <label id="markup-price"></label>
            </section>-->
          </div>
          <div style="margin-left: 0px;" class="credit-fee">
            <a style="margin-left: 20px" target="_blank" href="https://stripe.com/ca/pricing">Stripe Processing Fee:</a>
            <span>
              <span class="wrapper">
                <%= image_tag "question-mark.png", size:"13x14"%>
                <div class="tooltip">Stripe charges a flat fee of 2.9% + ¢30 to use their payment services. </br> Have a balance on Adae? We will pay with your balance first & reduce the Stripe fee proportionally. </div>
              </span>
            </span>
            <label style="margin-left: 30px" id="stripe-fee"></label>
          </div>

          <div class="division" style=" width: 86%;"></div>
          <span class="finalp">Total</span>
          <% unless params[:sell] == "true" %>
            <input id="total" readonly="readonly" value=""></input>
          <% else %>
            <input id="total" readonly="readonly" value=""></input>
          <% end %>
        </div>
      <!-- If listing type lease -->
      <% elsif @item.listing_type == "lease" %>
        <div class="item-detail-price" style="height: 410px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <p class="how-long">How long would you like to lease this?</p>
            <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
              <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
              <span><%= f.select :length, @type_dropdown, {}, :onchange => "updateLength()"%></span>

              <div class="division"></div>
              <div class="item-detail-calc">
                  <input id="amt" class="amount" readonly="readonly" value=""></input>
                  <input id="times" readonly="readonly" value=""></input>
                  <input id="length" readonly="readonly" value=""></input>
                  <input id="subtotal" readonly="readonly" value=""></input>

                  <% unless @item.deposit == 0 %>
                  <!--<section id="markup-container">
                    <label id="markup-label">Adae Fee:
                    <span>
                      <span class="wrapper">
                        ?
                        <div class="tooltip">We charge a 4% to 10% fee to cover the cost of running Adae, and to always keep it ad-free.</div>
                      </span>
                    </span>
                  </label>
                    <label id="markup-price"></label>
                  </section>-->
                  <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
                  <span>
                    <span style="top: 1.5px;"class="wrapper">
                      <%= image_tag "question-mark.png", size:"13x14"%>
                      <div class="tooltip">This ensures that the item is treated with care and is returned on time. <b style="font-weight: 600;">This amount will only be charged if you fail to return the item, damage it, or lose it.</b></div>
                    </span>
                  </span>
                  <% end %>
                  <div class="credit-fee">
                    <a target="_blank" href="https://stripe.com/ca/pricing">Stripe Processing Fee:</a>
                    <span>
                      <span class="wrapper">
                        <%= image_tag "question-mark.png", size:"13x14"%>
                        <div class="tooltip">Stripe charges a flat fee of 2.9% + ¢30 to use their payment services. </br> Have a balance on Adae? We will pay with your balance first & reduce the Stripe fee proportionally.</div>
                      </span>
                    </span>
                    <label id="stripe-fee"></label>
                  </div>
                  <div class="division" style=" width: 86%;"></div>
                  <div style="font-size: 12px; margin:15px 10px 15px 21px; line-height: normal; color: #4a4a4a; width: 88%;">
                    Pay a rental fee to try the item, and if you like it you can buy the item for the Trust Fee price. Your rental fees will count towards the final sale price.
                  </div>
                  <span class="finalp">Total</span>
                  <%= f.text_field :total_price, :value => "",:readonly => true %>
                  <span><%#= f.submit 'Request to Lease', class: "rent-button"%></span>
              </div>
            <% end %>
        </div>
      <!-- If listing type rent -->
      <% elsif @item.listing_type == "rent"%>
        <div class="item-detail-price" style="height: 300px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <p class="how-long">How long would you like to rent this?</p>
          <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
            <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
            <span><%= f.select :length, @type_dropdown, {}, :onchange => "updateLength()"%></span>

            <div class="division"></div>
            <div class="item-detail-calc">
              <input id="amt" class="amount" readonly="readonly" value=""></input>
              <input id="times" readonly="readonly" value=""></input>
              <input id="length" readonly="readonly" value=""></input>
              <input id="subtotal" readonly="readonly" value=""></input>

              <% unless @item.deposit == 0 %>
              <!--  <label id="markup-label">Adae Fee:

                <span>
                  <span class="wrapper">
                    ?
                    <div class="tooltip">We charge a 4% to 10% fee to cover the cost of running Adae, and to always keep it ad-free.</div>
                  </span>
                </span>

                </label>
                <label id="markup-price"></label>-->
                <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
                <span>
                  <span style="top: 1.5px;"class="wrapper">
                    <%= image_tag "question-mark.png", size:"13x14"%>
                    <div class="tooltip">This ensures that the item is treated with care, and is returned on time. <b style="font-weight: 600">This amount will only be charged if you fail to return the item, damage it, or lose it.</b></div>
                  </span>
                </span>

                </input>
              <% end %>
              <div class="credit-fee">
                <a target="_blank" href="https://stripe.com/ca/pricing">Stripe Processing Fee:</a>
                <span>
                  <span class="wrapper">
                    <%= image_tag "question-mark.png", size:"13x14"%>
                    <div class="tooltip">Stripe charges a flat fee of 2.9% + ¢30 to use their payment services. </br> Have a balance on Adae? We will pay with your balance first & reduce the Stripe fee proportionally.</div>
                  </span>
                </span>
                <label id="stripe-fee"></label>
              </div>
              <div class="division" style=" width: 85%;"></div>
              <span class="finalp">Total</span>
              <%= f.text_field :total_price, :value => "",:readonly => true %>
              <span><%#= f.submit 'Request to Rent', class: "rent-button"%></span>
            </div>
          <% end %>
        </div>
      <!-- If listing type timeoffer -->
      <% else %>
        <div class="item-detail-price" style="height: 280px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <p class="how-long" style="font-size: 12px;">How long would you like this service to last?</p>
          <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
            <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
            <span><%= f.select :length,[["Hour"]], {}, :onchange => "updateLength()"%></span>

            <div class="division"></div>
            <div class="item-detail-calc" style="margin-bottom: 15px;">
              <input id="amt" class="amount" readonly="readonly" value=""></input>
              <input id="times" readonly="readonly" value=""></input>
              <input id="length" readonly="readonly" value=""></input>
              <input id="subtotal" readonly="readonly" value=""></input>
                  <!--<label style="margin-bottom: 10px;"id="markup-label">Adae Fee:
                  <span>
                    <span class="wrapper">
                      ?
                      <div class="tooltip">We charge a 4% to 10% fee to cover the cost of running Adae, and to always keep it ad-free.</div>
                    </span>
                  </span>
                </label>
                  <label id="markup-price"></label>-->
                <% unless @item.deposit == 0 %>
                  <input class="deposit" readonly="readonly" value="$<%= @item.deposit %>"></input>
                <% end %>
                <div style="margin-left: 0px;"class="credit-fee">
                  <a style="margin-left:20px;" target="_blank" href="https://stripe.com/ca/pricing">Stripe Processing Fee:</a>
                  <span>
                    <span class="wrapper">
                      <%= image_tag "question-mark.png", size:"13x14"%>
                      <div class="tooltip">Stripe charges a flat fee of 2.9% + ¢30 to use their payment services. </br> Have a balance on Adae? We will pay with your balance first & reduce the Stripe fee proportionally.</div>
                    </span>
                  </span>
                  <label style="margin-left: 34px" id="stripe-fee"></label>
                </div>
                <div class="division" style="width: 85%;"></div>
              <span class="finalp">Total</span>
              <%= f.text_field :total_price, :value => "",:readonly => true %>
              <span><%#= f.submit 'Request Service', class: "rent-button"%></span>
            </div>
            <% end %>
        </div>
      <% end %>

      <!-- Stripe transaction form OR transaction request submission -->
      <center style="margin-bottom: 3em;">
        <% if current_user.stripe_customer_id.nil? %>
          <%= form_tag transactions_stripe_path do%>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key=<%= Rails.application.secrets.publishable_key %>
              data-email=<%= current_user.email %>
              data-description="Send Request to <%= @item.user.name %>"
              data-image= "<%= asset_path 'adae_logo.png'%>"
              data-label="Add My Card"
              data-billingAddress="true">
            </script>

            <%= hidden_field_tag 'item_id', @item.id %>
            <%= hidden_field_tag 'price' %>
            <%= hidden_field_tag 'duration' %>
         <% end %>
        <% else %>
          <%= form_tag transactions_stripe_path do%>
            <%= hidden_field_tag 'item_id', @item.id %>
            <%= hidden_field_tag 'price' %>
            <%= hidden_field_tag 'duration' %>

            <%= submit_tag 'Send Request', class: "request-button"%>
          <% end %>
        <%end%>
      </center>
    </div>

    <div>
      <div class="why-cc">
        Why should I add my credit/debit card?
        <div class="tooltip">
                          <ul>
                            <li>&#x2756; Putting a credit or debit card tells us that you are sincerely interested. Adae is built for for serious users.</br></br></li>
                            <li>&#x2756; When you add your card (you will NOT be charged), you will proceed to the chat page and discuss with the owner.</br><br></li>
                            <li>&#x2756; Only when you are happy with the arrangements, and have worked out a suitable meeting location and time, will the owner accept your request. This is when you are charged.</br><br></li>
                            <li>&#x2756; The owner will NOT receive your money until you meet and use our Scanner App. Your money is always 100% safe with us.</div></li>
                          </ul>
      </div>
    </div>

</div>
