<%= stylesheet_link_tag "transactions" %>
<script>
  var hash = {};

    <% @prices.each do |price| %>
        hash['<%= price.timeframe%>'] = <%= price.amount%>;
    <% end %>

  function qtyLength() {
    var lngth = $('select[name="transaction[length]"] option:selected').val();
    var qty = $('#qty').val();
    $('#times').val(qty);

    if (qty <= 1) {
      $('#length').val(lngth);
    }else if (qty > 1) {
      $('#length').val(lngth + 's');
    }else  {
      $('#length').val(lngth - 's');
    }
  }

  function updateQty() {
    qtyLength();
    var length = $('#transaction_length').val();
    var amt = hash[length];
    $('#amt').val('$ ' + amt + ' x');
    var qty = $('#qty').val();
    var total = (amt * qty);
    var fee = ((total * 0.029) + 0.30);
    $('#subtotal').val('$' + total);
    total = (total + fee).toFixed(2);

    $('#price')[0].value = total;
    $('#duration')[0].value = $('#qty').val() + "-" + $('#length').val();

    $('#transaction_total_price').val('$' + total);
  }

  function updateLength() {
    qtyLength();
    var length = $('#transaction_length').val();
    var amt = hash[length];
    $('#amt').val('$ ' + amt + ' x');

    var qty = $('#qty').val();
    var total = (amt * qty);
    var fee = ((total * 0.029) + 0.30);
    $('#subtotal').val('$' + total);
    total = (total + fee).toFixed(2);

    $('#price')[0].value = total;
    $('#duration')[0].value = $('#qty').val() + "-" + $('#length').val();

    $('#transaction_total_price').val('$' + total);
  }

  function validate_duration() {
    <% if @item.listing_type != 'sell' %>
      if (!$('#qty').val() ){
        event.preventDefault();
      }

      return true;
    <% end %>
  }


</script>

<div class="payment-info">

  <div style="display: table; margin:auto; line-height: normal; color: #4a4a4a; margin-bottom: -20px;">
    <h1 style="font-weight: 600; text-align: left; margin-bottom: 10px; margin-top: 1em;">Payment</h1>
    <span> You will only be charged if the owner accepts your request. Don't worry, they will not receive your money until the unique Transaction </br> QR Code on his/her phone is scanned by you when you two meet.</span>
  </div>
  </br>
  </br>
  </br>
  <div style="display: inline-block; width: 48%; vertical-align: top;">
    <%= image_tag(@item.photo_url, class:'item-pic') %>
    <% unless @item.listing_type == "sell" %>
    <% end %>
  </div>

    <div class="price-details">
      <% if @item.listing_type == "sell" || params[:sell] == "true"%>
        <div class="item-detail-price" style="height: 250px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <% unless params[:sell] == "true" %>
            <p style="font-size: 30px; font-weight: 500; color: #4a4a4a;">$<%= @prices.first.amount %></p>
          <% else %>
            <p style="font-size: 30px; font-weight: 500; color: #4a4a4a;">$<%= @item.deposit %></p>
          <% end %>
          <p class ="credit-fee"><a target="_blank" href="https://stripe.com/ca/pricing" style=" color: #419bf9; margin-right: 40px; text-decoration: underline;">Stripe Processing Fee:</a>$<%= number_with_precision(@fee, :precision => 2)%></p>
          <div class="division" style=" width: 86%;"></div>
          <span class="finalp">Total</span>
          <% unless params[:sell] == "true" %>
            <input id="total" readonly="readonly" value="<%=@prices.first.amount + @fee %>"></input>
          <% else %>
            <input id="total" readonly="readonly" value="<%=@item.deposit + @fee %>"></input>
          <% end %>
        </div>
      <% elsif @item.listing_type == "lease" %>
        <div class="item-detail-price" style="height: 450px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <p class="how-long">How long would you like to lease this?</p>
            <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
              <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
              <span><%= f.select :length, @type_dropdown, {}, :onchange => "updateLength()"%></span>

              <div class="division"></div>
              <div class="item-detail-calc">
                  <input id="amt" class="amount" readonly="readonly" value=""></input>
                  <input id="times" readonly="readonly" value=""></input>
                  <input id="length" readonly="readonly" value=""></input>
                  <input id="subtotal" readonly="readonly" value=""></input>

                  <% unless @item.deposit == 0 %>
                  <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
                  <div class="trust-fee-text"> This ensures that the item is treated with care and is returned on time. <b style="font-weight: 600;">This amount will be charged only if you fail to return the item, damage it, or lose it.</b></div>
                  <% end %>
                  <p class ="credit-fee"><a target="_blank" href="https://stripe.com/ca/pricing">Stripe Processing Fee:</a>$<%= number_with_precision(@fee, :precision => 2)%></p>
                  <div class="division" style=" width: 86%;"></div>
                  <div style="font-size: 12px; margin:15px 10px 15px 21px; line-height: normal; color: #4a4a4a; width: 88%;">
                    Pay a rental fee to try the item, and if you like it you can buy the item for the Trust Fee price. Your rental fees will count towards the final sale price.
                  </div>
                  <span class="finalp">Total</span>
                  <%= f.text_field :total_price, :value => "",:readonly => true %>
                  <span><%#= f.submit 'Request to Lease', class: "rent-button"%></span>
              </div>
            <% end %>
        </div>
      <% elsif @item.listing_type == "rent"%>
        <div class="item-detail-price" style="height: 350px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <p class="how-long">How long would you like to rent this?</p>
          <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
            <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
            <span><%= f.select :length, @type_dropdown, {}, :onchange => "updateLength()"%></span>

            <div class="division"></div>
            <div class="item-detail-calc">
              <input id="amt" class="amount" readonly="readonly" value=""></input>
              <input id="times" readonly="readonly" value=""></input>
              <input id="length" readonly="readonly" value=""></input>
              <input id="subtotal" readonly="readonly" value=""></input>

              <% unless @item.deposit == 0 %>
                <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></inp
                <input class="deposit" readonly="readonly" value="$<%= @item.deposit %>"></input>
                <div class="trust-fee-text"> This ensures that the item is treated with care and is returned on time. <b style="font-weight: 600;">This amount will be charged only if you fail to return the item, damage it, or lose it.</b></div>
              <% end %>
              <p class ="credit-fee"><a target="_blank" href="https://stripe.com/ca/pricing">Stripe Processing Fee:</a>$<%= number_with_precision(@fee, :precision => 2)%></p>
              <div class="division" style=" width: 85%;"></div>
              <span class="finalp">Total</span>
              <%= f.text_field :total_price, :value => "",:readonly => true %>
              <span><%#= f.submit 'Request to Rent', class: "rent-button"%></span>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="item-detail-price" style="height: 280px;">
          <div class="item-title"><%=@item.title %></div>
          <div class="division"></div>
          <p class="how-long" style="font-size: 12px;">How long would you like this service to last?</p>
          <%= form_for Transaction.new, html: {multipart: true}  do |f| %>
            <input id="qty" name="quantity" min="1" max="30" type="number" onChange="updateQty()"></input>
            <span><%= f.select :length,[["Hour"]], {}, :onchange => "updateLength()"%></span>

            <div class="division"></div>
            <div class="item-detail-calc" style="margin-bottom: 15px;">
              <input id="amt" class="amount" readonly="readonly" value=""></input>
              <input id="times" readonly="readonly" value=""></input>
              <input id="length" readonly="readonly" value=""></input>
              <input id="subtotal" readonly="readonly" value=""></input>
                <% unless @item.deposit == 0 %>
                  <input class="trust-fee"readonly="readonly" value="Trust Fee: $<%= @item.deposit %>"></input>
                  <input class="deposit" readonly="readonly" value="$<%= @item.deposit %>"></input>
                <% end %>
                <p class ="credit-fee"><a target="_blank" href="https://stripe.com/ca/pricing">Stripe Processing Fee:</a>$<%= number_with_precision(@fee, :precision => 2)%></p>
              <div class="division" style="width: 85%;"></div>
              <span class="finalp">Total</span>
              <%= f.text_field :total_price, :value => "",:readonly => true %>
              <span><%#= f.submit 'Request Service', class: "rent-button"%></span>
            </div>
            <% end %>
        </div>
      <% end %>

      <center style="position: relative; left: 50%; margin-bottom: 3em;">
        <% if current_user.stripe_customer_id.nil? %>
          <%= form_tag transactions_stripe_path do%>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key=<%= Rails.application.secrets.publishable_key %>
              data-email=<%= current_user.email %>
              data-description="Pay <%= @item.user.name %>"
              data-image= "<%= asset_path 'adae_logo.png'%>"
              data-billingAddress="true">
            </script>

            <%= hidden_field_tag 'item_id', @item.id %>
            <%= hidden_field_tag 'price' %>
            <%= hidden_field_tag 'duration' %>
         <% end %>
        <% else %>
          <%= form_tag transactions_stripe_path do%>
            <%= hidden_field_tag 'item_id', @item.id %>
            <%= hidden_field_tag 'price', ((@item.prices.first.amount * 1.029) + 0.30) %>
            <%= hidden_field_tag 'duration' %>

            <%= submit_tag 'Send Payment', class: "request-button", :onclick => "return validate_duration();"%>
          <% end %>
        <%end%>
      </center>
    </div>
</div>
