<% if review.id.present? %>
  <div class= 'review'>

    <div id="comment">
      <p><%= review.comment %></p>
    </div>

    <div class="poster">
      <% if review.user != nil %>
        <em> Posted by <%= review.user.first_name %> Added on: <%= review.created_at %></em>
      <% else %>
        <em> Posted by <%= review.name %> Added on: <%= review.created_at %> </em>
      <% end %>
    </div>
    
    <br>

  </div>
<% end %>