<% if review.id.present? %>
  <div class= 'review'>

    <div id="comment">
      <%= link_to image_tag(review.user.avatar.url(:med), class:"avatar"), user_path(review.user) %>
      <p><%= review.comment %></p>
    </div>

    <div class="poster">
      <% if review.user != nil %>
         Posted by <span style="font-weight: 600;"><%= review.user.name %></span> on: <%= review.created_at.strftime('%d %b %Y') %>
      <% else %>
        Posted by <span style="font-weight: 600;"><%= review.name %></span>on: <%= review.created_at.strftime('%d %b %Y') %>
      <% end %>
    </div>
    <div class="divider"></div>

    <br>

  </div>
<% end %>
