<% if review.id.present? %>
  <div class= 'review'>

    <div id="comment">
      <p><%= review.comment %></p>
    </div>

    <div class="poster">
      <% if review.user != nil %>
         Posted by <span style="font-weight: 600;"><%= review.user.name %></span> on: <%= review.created_at %>
      <% else %>
        Posted by <span style="font-weight: 600;"><%= review.name %></span>on: <%= review.created_at %>
      <% end %>
    </div>
    <div class="divider"></div>

    <br>

  </div>
<% end %>
