<%= stylesheet_link_tag "reviews" %>

<h1 class= "edit-review-heading">Edit Your Review</h1>
<div class="form-content">
<%= form_for([@item, @review]) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <p> What you wrote:</p>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit 'Update Review', :class => 'update-button' %>
    </div>
  <% end %>
</div>
