<%= stylesheet_link_tag "footer" %>

<footer class="footer">
  <div class= "footer-sections">
    <div class="about-us-list">
      <ul class= "about-us">
        <li class="header">About Us</li>
        <li><a href="/about">The Team</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>

    <!--<div class="list-name">
      <ul class= "app-pics">
        <li class="header">Download the App</li>
        <li><a target="_blank" href="https://itunes.apple.com/ca/app/adae/id1084039853?mt=8"><%= image_tag "App-Store.png", class: "coming-soon-footer" %></a></li>
        <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.adae.justinelee.adaecompanion&hl=en"><%= image_tag "Play-Store.png", class: "coming-soon-footer" %></a></li>

      </ul>
    </div>-->

    <div class="list-name">
      <ul class= "app-pics">
        <li class="header">Follow Us</li>
        <a target="_blank" href="https://www.facebook.com/Adae-204059996595420/"><%= image_tag "facebook-white.png", id: "social-fb" %></a>
        <a target="_blank" href="https://twitter.com/adae_co"><%= image_tag "twitter-white.png", id: "social-twitter" %></a>
      </ul>
    </div>

    <div class="list-name">
      <ul class= "app-pics">
        <li class="header">Secure Transactions</li>
        <li><a target="_blank" href="https://stripe.com/gallery"><%= image_tag "stripe-badge.png", id: "stripe" %></a></li>
      </ul>
    </div>
  </div>
</footer>
