<%= stylesheet_link_tag "navbar" %>
<%= stylesheet_link_tag "modals" %>
<%= javascript_include_tag "slide-in-menu" %>

<script>
$(document).ready(function() {
  $('#nav-signup-btn').click(function(){
    $('.signin-modal').hide();
    $('.signup-modal').show();
    $('.modal-backdrop').fadeOut();
  });

  $('#nav-signin-btn').click(function(){
    $('.signup-modal').hide();
    $('.signin-modal').show();
    $('.modal-backdrop').fadeOut();
  });

  var slideLeft = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });

  var slideLeftBtn = document.querySelector('#c-button--slide-left');

  slideLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    document.querySelector('.c-menu--slide-left').style.display = "block";
    slideLeft.open();
  });

  $('.c-menu__items > li > a').click(function() {
    var checkElement = $(this).next();

    $('#cssmenu li').removeClass('active');
    $(this).closest('li').addClass('active');

    if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
      $(this).closest('li').removeClass('active');
      checkElement.slideUp('normal');
    }
    if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
      $('#cssmenu ul ul:visible').slideUp('normal');
      checkElement.slideDown('normal');
    }

    if($(this).closest('li').find('ul').children().length == 0) {
      return true;
    } else {
      return false;
    }
  });
});
</script>

<div class="signup-modal"></div>
<div class="signin-modal"></div>
<nav class="nav" role="navigation" id="home-navbar">

  <div id="o-wrapper" class="o-wrapper">
    <div class="c-buttons">
      <label id="c-button--slide-left" class="c-button"></label>
    </div>
    <!-- other content in here -->
  </div><!-- /o-wrapper -->

  <!-- menus here -->
  <div id="c-mask" class="c-mask"></div><!-- /c-mask -->

  <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
    <button class="c-menu__close">&#10006;</button>
    <ul class="c-menu__items">
      <% if signed_in? %>
        <!--<li class="c-menu__item"><a href='#' class="c-menu__link"><span>Services</span></a>
          <ul class="c-menu__items" style="display: none;">
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%#= link_to 'Offer a Service', new_item_path, class: "c-menu__link" %></li>
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%#= link_to "All Services", items_path, class: "c-menu__link" %></li>
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%#= link_to "My Services", user_path(current_user, :anchor => "listing-heading"), class: "c-menu__link" %></li>
          </ul>
        </li>-->

        <!--<li class="c-menu__item"><a href='#' class="c-menu__link"><span>Shout Outs</span></a>
          <ul class="c-menu__items" style="display: none;">
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%#= link_to 'Post a Shout Out', new_request_path, class: "c-menu__link" %></li>
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%#= link_to "All Shout Outs", requests_path, class: "c-menu__link" %></li>
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%#= link_to "My Shout Outs", user_path(current_user, :anchor => "shoutout-heading"), class: "c-menu__link" %></li>
          </ul>
        </li>-->

        <li class="c-menu__item"><a href='#' class="c-menu__link"><span>Balance</span></a>
          <ul class="c-menu__items" style="display: none;">
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"> <span class="c-menu__link">$<%= current_user.balance %></span></li>
          </ul>
        </li>

        <li class="c-menu__item">
          <a href="<%= conversations_path %>" class="c-menu__link">
            <span>Inbox</span>
          </a>
        </li>

        <li class="c-menu__item"><a href='#' class="c-menu__link"><span style="color: #f5a623;"><%= current_user.name %></span></a>
          <ul class="c-menu__items" style="display: none;">
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%= link_to "Account", user_path(current_user), class: "c-menu__link" %></li>
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%= link_to "Edit Profile", edit_user_path(current_user), class: "c-menu__link" %></li>
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%= link_to "Reviews", user_path(current_user, :anchor => "user-reviews"), class: "c-menu__link" %></li>
             <li class="c-menu__item" style="background-color: #47475C !important; padding: 4px;"><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "c-menu__link") %></li>
          </ul>
        </li>
      <% else %>
        <li class="c-menu__item"><%= link_to('Sign Up', new_user_registration_path, class: "c-menu__link")  %></li>
        <li class="c-menu__item"><%= link_to('Login', new_user_session_path, class: "c-menu__link")  %></li>
        <%#= link_to 'Sign Up', {remote: true, controller: "home", action: "signup_modal"}, id: "nav-signup-btn", class: "signup" %>
        <%#= link_to 'Log In', {remote: true, controller: "home", action: "signin_modal"}, id: "nav-signin-btn", class: "login" %>
      <% end %>
    </ul>
  </nav><!-- /c-menu slide-left -->

  <div class="adae-home">
    <a href="<%= root_path %>" title="home">
      <div class="home-logo">
        <%= image_tag("adaelogopink.png")%>
      </div>
    </a>
  </div>

    <!--<div class="search-bar">
      <form class="search-form" action="/search">
        <input type="text" name="search_text" class="search-field-placeholder" id="search-form" placeholder="What are you looking for? ex. Moving, Tutors...">
      </form>
    </div>-->

    <div class="itemnav" data-step="4" data-intro="This is where you can post a Service!" data-position="right">
      <% if signed_in? %>
      <!--<span class="listings" onclick="$('.listingsdropdown').slideToggle();"> <%#= "Services" %> </span>
      <div class="listingsdropdown">
        <%#= link_to 'Offer a Service', new_item_path, class: "newlisting" %>
        <%#= link_to "All Services", items_path, class: "allistings" %>
        <%#= link_to "My Services", user_path(current_user, :anchor => "listing-heading"), class: "profilepath" %>
      <% end %>
    </div>-->
    </div>

  <% if signed_in? %>
    <!--<div class="balance-display" data-step="3" data-intro="This is your balance and you have $<%#= current_user.balance %> right now. </br></br> Post a Service & start making money!" data-position="right">
      <span class="balance" onclick="$('.balancedropdown').slideToggle();"> Balance </span>
      <div class="balancedropdown">
        <p id="user_balance"> $ <%#= current_user.balance %> </p>
        <div class="wrapper">
    			What's This?
    			<div class="tooltip">This is the amount you have in your Adae balance. Use it as credit in your payments!</div>
    		</div>
      </div>
    </div>-->
  <% end %>
    <div class="requestnav" data-step="5" data-intro="Looking for something?<br> We can help you find it. <br> Post a Shout Out!" data-position="right">
      <% if signed_in? %>
      <!--<span class="shoutouts" onclick="$('.shoutoutsdropdown').slideToggle();"> <%#= "Shout Outs" %> </span>
      <div class="shoutoutsdropdown">
        <%#= link_to 'Post a Shout Out', new_request_path, class: "newshoutout" %>
        <%#= link_to "All Shout Outs", requests_path, class: "allshoutouts" %>
        <%#= link_to "My Shout Outs", user_path(current_user, :anchor => "shoutout-heading"), class: "profilepath" %>
      <% end %>
    </div>-->
    </div>

    <div class="inbox">
      <% if signed_in? %>
      <a href="<%= conversations_path %>">
        <span class="message-space">
          <%= image_tag "msg_pic.png", id: "sms" %>
          Inbox
        </span>
      </a>
      <% end %>
    </div>

    <div class="user-info" data-step="6" data-intro="Remember you can add a picture to your profile!" data-position="left">
      <% if signed_in? %>
      <span class="userpaths" onclick="$('.dropdown').slideToggle();">
        <%= current_user.name %>
      </span>
      <% else %>
        <%= link_to 'Sign Up', {remote: true, controller: "home", action: "signup_modal"}, id: "nav-signup-btn", class: "signup" %>
        <%#= link_to('Sign Up', new_user_registration_path, class: "signup")  %>
        <%= link_to 'Log In', {remote: true, controller: "home", action: "signin_modal"}, id: "nav-signin-btn", class: "login" %>
        <%#= link_to('Login', new_user_session_path, class: "login")  %>
      <% end %>
      <div class="dropdown">
        <% if signed_in? %>
          <%= link_to "Account", user_path(current_user), class: "profilepath" %>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "profilepath" %>
          <%= link_to "Reviews", user_path(current_user, :anchor => "user-reviews"), class: "profilepath" %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout") %>
        <% end %>
      </div>
    </div>
    <% if signed_in? %>
      <span class="navbar-avatar"><%= image_tag(current_user.avatar.url(:med), class:"avatar") %></span>
    <% end %>
</nav>
