<%= stylesheet_link_tag "navbar" %>

<nav class="nav" role="navigation" id="home-navbar">
    <div class="adae-home">
      <a href="<%= root_path %>" title="home">
        <div class="home-logo">
          <%= image_tag("adaelogoblue.png")%>
        </div>
      </a>
    </div>
    <div class="search-bar">
      <%= form_tag items_path, method: :get, authentication: false, id: 'search-form' do %>
        <%= text_field_tag :search, params[:search],{placeholder: 'What are you looking for? ex. Texbooks, Video Games, Tutors...', class: 'search-field-placeholder'}  %>
      <% end %>
    </div>
    <% if current_page?(new_item_path) %>
      <%= link_to "Listings", items_path, class: "share-item" %>
    <% else %>
      <%= link_to 'List an Item', new_item_path, class: "share-item" %>
    <% end %>
  </section>
</nav>
