<%= stylesheet_link_tag "navbar" %>

<nav class="nav" role="navigation" id="home-navbar">
    <div class="adae-home">
      <a href="<%= root_path %>" title="home">
        <div class="home-logo">
          <%= image_tag("adaelogoblue.png")%>
        </div>
      </a>
    </div>
    <div class="search-bar">
      <form class="search-form" action="/search">
        <input type="text" name="search_text" class="search-field-placeholder" id="search-form" placeholder="What are you looking for? ex. Texbooks, Video Games, Tutors...">
      </form>
    </div>
    <% if current_page?(new_item_path) %>
      <%= link_to "Listings", items_path, class: "share-item" %>
    <% else %>
      <%= link_to 'List an Item', new_item_path, class: "share-item" %>
    <% end %>
  </section>
</nav>
