<%= stylesheet_link_tag "navbar" %>
<%= stylesheet_link_tag "modals" %>
<%= javascript_include_tag "navbar" %>

<script>
  $('#items').click(function(){
    $('.listingsdropdown').slideUp();
    $('.dropdown').slideUp();
  });
</script>

<div class="signup-modal"></div>
<div class="signin-modal"></div>
<nav class="nav" role="navigation" id="home-navbar">
    <div class="adae-home">
      <a href="<%= items_path %>" title="home">
        <div class="home-logo">
          <%= image_tag("adaelogoblue.png")%>
        </div>
      </a>
    </div>
    <div class="search-bar">
      <form class="search-form" action="/search">
        <input type="text" name="search_text" class="search-field-placeholder" id="search-form" placeholder="What are you looking for? ex. Texbooks, Video Games, Tutors...">
      </form>
    </div>
    <div class="itemnav">
      <% if signed_in? %>
      <span class="listings" onclick="$('.listingsdropdown').slideToggle();"> <%= "Listings" %> </span>
      <div class="listingsdropdown">
        <%= link_to "All Listings", items_path, class: "allistings" %>
        <%= link_to 'Post a Listing', new_item_path, class: "newlisting" %>
        <%= link_to "My Listings", user_path(current_user, :anchor => "listing-heading"), class: "profilepath" %>
      <% end %>
      </div>
    </div>
    <!--<div class="requestnav">
      <%# if signed_in? %>
      <span class="shoutouts" onclick="$('.shoutoutsdropdown').slideToggle();"> <%#= "Shout Outs" %> </span>
      <div class="shoutoutsdropdown">
        <%#= link_to 'Post a Shout Out', new_request_path, class: "newshoutout" %>
        <%#= link_to "All Shout Outs", requests_path, class: "allshoutouts" %>
        <%#= link_to "My Shout Outs", user_path(current_user), class: "profilepath" %>
      <%# else %>
        <%#= link_to 'Post a Shout Out', new_request_path, class: "share-request" %>
      <%# end %>
      </div>
    </div>-->

    <div class="inbox">
      <% if signed_in? %>
      <a href="<%= conversations_path %>">
        <span class="message-space">
          <%= image_tag "msg_pic.png", id: "sms" %>
          Inbox
        </span>
      </a>
      <% end %>
      </div>
    </div>

    <div class="user-info">
      <% if signed_in? %>
      <span class="userpaths" onclick="$('.dropdown').slideToggle();">
        <%= current_user.name %>

      </span>
      <% else %>
        <%= link_to 'Sign Up', {remote: true, controller: "home", action: "signup_modal"}, id: "nav-signup-btn", class: "signup" %>
        <%#= link_to('Sign Up', new_user_registration_path, class: "signup")  %>
        <%= link_to 'Log In', {remote: true, controller: "home", action: "signin_modal"}, id: "nav-signin-btn", class: "login" %>
        <%#= link_to('Login', new_user_session_path, class: "login")  %>
      <% end %>
      <div class="dropdown">
        <% if signed_in? %>
          <%= link_to "Account", user_path(current_user), class: "profilepath" %>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "profilepath" %>
          <%= link_to "Reviews", user_path(current_user, :anchor => "user-reviews"), class: "profilepath" %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout") %>
        <% end %>
      </div>
    </div>
    <% if signed_in? %>
      <span><%= image_tag(current_user.avatar.url(:med), class:"avatar") %></span>
    <% end %>
</nav>
