<%= stylesheet_link_tag "navbar" %>
<%= javascript_include_tag "navbar" %>

<nav class="nav" role="navigation" id="home-navbar">
    <div class="adae-home">
      <a href="<%= items_path %>" title="home">
        <div class="home-logo">
          <%= image_tag("adaelogoblue.png")%>
        </div>
      </a>
    </div>
    <div class="search-bar">
      <form class="search-form" action="/search">
        <input type="text" name="search_text" class="search-field-placeholder" id="search-form" placeholder="What are you looking for? ex. Texbooks, Video Games, Tutors...">
      </form>
    </div>
    <div class="itemnav">
      <% if user_signed_in? %>
      <span class="listings" onclick="$('.listingsdropdown').slideToggle();"> <%= "Listings" %> </span>
      <div class="listingsdropdown">
        <%= link_to 'Post a Listing', new_item_path, class: "newlisting" %>
        <%= link_to "All Listings", items_path, class: "allistings" %>
        <%= link_to "My Listings", user_path(current_user), class: "profilepath" %>
      <% else %>
        <%= link_to 'Post a Listing', new_item_path, class: "share-item" %>
      <% end %>
      </div>
    </div>
    <div class="requestnav">
      <% if user_signed_in? %>
      <span class="shoutouts" onclick="$('.shoutoutsdropdown').slideToggle();"> <%= "Shout Outs" %> </span>
      <div class="shoutoutsdropdown">
        <%= link_to 'Post a Shout Out', new_request_path, class: "newshoutout" %>
        <%= link_to "All Shout Outs", requests_path, class: "allshoutouts" %>
        <%= link_to "My Shout Outs", user_path(current_user), class: "profilepath" %>
      <% else %>
        <%= link_to 'Post a Shout Out', new_request_path, class: "share-request" %>
      <% end %>
      </div>
    </div>

    <div class="inbox">
      <% if user_signed_in? %>
      <a href="<%= conversations_path %>">
        <span class="message-space">
          <%= image_tag "msg_pic.png", id: "sms" %>
          Messages
        </span>
      </a>
      <% end %>
      </div>
    </div>

    <div class="user-info">
      <% if user_signed_in? %>
      <span class="userpaths" onclick="$('.dropdown').slideToggle();">
        <%= current_user.name %>
      </span>
      <% else %>
        <%= link_to('Sign Up', new_user_registration_path, class: "signup")  %>
        <%= link_to('Login', new_user_session_path, class: "login")  %>
      <% end %>
      <div class="dropdown">
        <% if user_signed_in? %>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "profilepath" %>
          <%= link_to "Account", user_path(current_user), class: "profilepath" %>
          <%= link_to "Reviews", user_path(current_user), class: "profilepath" %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout") %>
        <% end %>
      </div>
    </div>
</nav>
