<script>
  $(document).click(function (e) {
      var signup = $('#shareSignupModal');
      var backdrop = $('.modal-backdrop');

      //if the target of the click isn't the modal...
      if (!signup.is(e.target)&& signup.has(e.target).length === 0) { signup.modal('hide'); backdrop.fadeOut(); }
  });

  function validate_signup_form_and_submit(){
    var name = $('#username-input').val();
    var email = $('#user_email').val();
    var password = $('#password').val().length > 7;
    var confirmation = $('#user_password_confirmation').val() == $('#password').val();

    if ( name && email && password && confirmation) {
      return true;
    } else {

      var error_message = "";

      if(!name){
        if (error_message){
          error_message += ", Name is empty"
        } else {
          error_message += "Name is empty"
        }
      }

      if(!email){
        if (error_message){
          error_message += ", Email is empty"
        } else {
          error_message += "Email is empty"
        }
      }

      if(!password){
        if (error_message){
          error_message += ", Password requires minimum 8 characters"
        } else {
          error_message += "Password requires minimum 8 characters"
        }
      }

      if(!confirmation){
        if (error_message){
          error_message += ", Password does not match"
        } else {
          error_message += "Password does not match"
        }
      }

      toastr.options ={
        'timeOut': "6000",
        'extendedTimeOut': "2000",
        "positionClass": 'toast-top-left'
      };

      toastr.error(error_message);

      event.preventDefault();
    }
  }
</script>

<div id="shareSignupModal" tabindex="-1" role="dialog" aria-labelledby="shareSignupModal" aria-hidden="true">

  <div id="fb-container">
    <%= image_tag "facebook-white.png", class: "fb-icon" %>
    <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "fb-oauth" %>
  </div>

  <hr align="left" width="100px" style="position: relative; top: 60px; left: 10px;">
  <div style="text-align: center; color: black; position: relative; top: 42px;">or</div>
  <hr align="right" width="100px" style="position: relative; top: 26px; right: 10px;">

    <div class="share-modal-content-container">
      <div class="signup-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <%#= hidden_field_tag 'avatar' %>
          <div class="signup-input">
            <div class="input-username">
              <%= f.text_field :name, placeholder: "First Name", class: "input-box", id: "username-input" %>
            </div>
            <div class="input-username">
              <%= f.text_field :surname, placeholder: "Last Name (Optional)", class: "input-box" %><br/>
            </div>
            <div class="input-username">
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "input-box" %>
            </div>
            <div class="input-password">
              <%= f.password_field :password, placeholder: "Password", class: "input-box", id: "password" %>
            </div>
            <div class="input-password">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "input-box" %>
            </div>
            <div class="input-referral">
              <input type="text" name="referral" class="input-box" placeholder="Promo Code (Optional)" id="promo">
            </div>
          </div>
          <div class="signup-links-bottom">
            <p class="terms"> By signing up, I agree to Adae's <a target="_blank" href="https://adae.co/privacy">Privacy Policy</a> and <a target="_blank" href="https://adae.co/terms">Terms of Service</a>.</p>
            <div id="signup-start">
              <%= f.submit "Sign Up", class: "signup-button", :onclick => 'validate_signup_form_and_submit()' %>
            </div>
          </div>
          <div id="divider"></div>
          <p id="sign-up-text" data-dismiss="modal"> Already a member of Adae? <%= link_to 'Log In', {remote: true, controller: "home", action: "signin_modal"}%>.
          </p>
        <% end %>
      </div>
    </div>
</div>
