<table class="table table-bordered">

	<tr>
		<td><%= @item.title %></td>
		<td>$<%= @price %></td>
		<br>
	</tr>

	<tr>
		<td colspan="3">Adae Fee:</td>
		<td>$<%= number_with_precision(@adae_fee, precision: 2)%></td>
	</tr>
	<tr>
		<td colspan="3">Total Cost:</td>
		<td>$<%= number_with_precision(@total_amount, precision:2)%></td>
	</tr>
</table>

<div>
	<i><u>Contact Details</u></i>
	<span><b>Full name:</b> <%= @notification_params_name %></span>
</div>

<div>
	<i><u>Payment Details</u></i>
	<span><b>Payment status:</b> Complete</span>
	<span><b>Payment date:</b> <%= @order.created_at%></span>
</div>
