<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>adae</title>

  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <script
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDELDDeZFCjRjY4yvz3o0ium-jSwRvnwFY">
  </script>

  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
  <header>
    <% if flash[:notice] %>
     <p id="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
     <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:warning] %>
     <p id="warning"><%= flash[:warning] %></p>
    <% end %>

    <% if flash[:signup_modal] %>
      <script>
      $(document).ready(function(){
        $('#shareSignupModal').modal('show');
      });
      </script>
      <%= render '/common/signup_modal' %>
    <% end %>

  </header>

  <body>
    <%= render partial: "common/navbar" unless current_page?(root_path) %>
    <div class="page-wrap">
    <%= yield %>
    </div>
    <footer class="site-footer">
    <%= render partial: "common/footer"%>
    </footer>
  </body>
</html>
