<%= stylesheet_link_tag "items" %>
<div class="bootstrap" style="margin-top: 50px;">
  <div class="col-md-4 col-md-push-4">

  <center><h1 style="color:#419bf9; margin: -10px 0px 25px 0px;">Sign Up</h1></center>

  <div id="fb-container">
    <%= image_tag "fb_letter.png", class: "fb-icon" %>
    <%= link_to "Sign Up with Facebook", user_omniauth_authorize_path(:facebook), class: "fb-oauth" %>
  </div>

  <hr align="left" width="40%" style="position: relative; top: 50px; left: 10px; height:1px; border:none;color:#C2C2C2; background-color:#C2C2C2;">
  <div style="text-align: center; color: #B6B6B6; position: relative; top: 22px;">or</div>
  <hr align="right" width="40%" style="position: relative; bottom: 7px; right: 10px; height:1px; border:none;color:#C2C2C2; background-color:#C2C2C2;">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div id="error_explanation">
          <%= devise_error_messages! %>
    </div>
      <%= f.text_field :name, autofocus: true, placeholder: "First Name", :class => "form-control", style:"margin-bottom: 8px;" %>

      <%= f.text_field :surname, autofocus: true, placeholder: "Last Name (Optional)", :class => "form-control", style:"margin-bottom: 8px;" %>

      <%= f.email_field :email, autofocus: true, placeholder: "Email", :class => "form-control", style:"margin-bottom: 8px;" %>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", autofocus: true, placeholder: "Password", :class => "form-control", style:"margin-bottom: 8px;" %>

      <%= f.password_field :password_confirmation, autocomplete: "off", autofocus: true, placeholder: "Password Confirmation", :class => "form-control", style:"margin-bottom: 8px;" %>

      <input type="text" style="font-size: 14px; padding: 6px; width: 100%;border: 1px solid #7ED321; color: #5AC902; border-radius: 4px;" name="referral" class="input-box" placeholder="Promo Code (Optional)" id="promo">
    <div class="actions">
      <%= f.submit "Sign Up", style:" width: 100%; padding: 14px; margin: 10px 0px 8px 0px; border-radius: 4px; border: none; color: #fff; font-weight: 500; background-color: #419bf9;" %>
    </div>
    <div style="padding-bottom: 25px;">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
<% end %>
